<div class="masthead1">
    <img src="assets/berlin.jpg" alt="RCon3 Berlin">
</div>

<div id="scrollWrapper">
    <div id="logoWrapper">
        <img src="assets/logo_red.png" alt="RChain">
        <div class="textWrapper">
            <h1>RCON3</h1>
            <h3>Berlin, Germany - Sept 3-6</h3>
        </div>
    </div>

    <div id="sideNav">
        <a id="about" class="scroll" href="#">About</a>
        <a id="program" class="scroll" href="#">Program</a>
        <a id="venue" class="scroll" href="#">Venue</a>
        <a id="accommodation" class="scroll" href="#">Accommodation</a>
        <a id="registration" class="scroll" href="#">Registration</a>
        <a id="callforspeakers" class="scroll" href="#">Call For Speakers</a>
        <a id="archive" class="scroll" href="#">Archive</a>
        <a id="contact" class="scroll" href="#">Contact</a>
    </div>

</div>

<div class="main">

    <!--  About  -->
    <div id="aboutSection" class="section">
        <div class="header">About</div>
        <div class="title">RCon3 Berlin, Germany</div>
        <div class="subTitle">Invitation Only Sessions - September 3-4, 2018</div>
        <div class="subTitle">Public Sessions - September 5-6, 2018</div>
        <div class="bodyText">RCon3 brings together network validators, dApp developers, investors, and researchers learning how to work with the RChain platform and participate in the launch of the RChain testnet.</div>
        <div class="bodyText"><b>Interested in being an RChain validator?</b> This event will help you gain the knowledge and skills necessary to contribute to the proof of stake validation process, and allow you to contribute to decisions related to fee structures.</div>
        <div class="bodyText"><b>Are you a dApp developer or architect?</b> Attend our information sessions and practical workshops, and network with members of the RChain core development team, potential investors, and the growing community of dApp developers. Bring your ideas and questions!</div>
        <div class="bodyText"><b>Looking to invest in RChain validation or organizations developing on the RChain platform?</b> Do not miss this opportunity to learn more about investing in blockchain technology, the future of the RChain platform, and to network with node operators, dApp developers, business leaders, and researchers.</div>
        <div class="bodyText"><b>Curious about the science behind RChain technology?</b> The brightest minds behind RChain and members of the new RChain research organization will be discussing current and future research for the platform.</div>
        <div class="bodyText"><b>Help us launch the RChain testnet.</b> In preparation for the launch of mainnet, code-named Mercury, the testnet will demonstrate the process planned for verifying mainnet genesis. Attendees can participate in a testnet key signing party and demo of the process for the Rhoc/Rev swap.</div>
    </div>

    <!-- Program -->
    <div id="programSection" class="section">
        <div class="header">Program</div>
        <div class="bodyText">RCon3 features four knowledge tracks: RChain technology, blockchain solutions, research, and developing with RChain. There will be hands-on workshops in these areas. Presenters, panelists, and workshop leaders will deliver nearly 50 hours of programming. Additionally, space will be available for participants to network and collaborate.</div>
        <div class="bodyText">Program highlights include:</div>
        <ul>
            <li><b>Introductory sessions and deep dives into key components of the RChain platform.</b> including: Rholang, consensus, storage, and communications.</li>
            <li><b>Practical workshops for dApp developers.</b> Learn from sessions working with Rholang and become familiar with the architecture and design patterns of the RChain platform.</li>
            <li><b>Launch of the RChain testnet.</b> If you are interested in participating in the launch of mainnet later in 2018, plan to participate in the launch of testnet at RCon3. The program includes informational sessions and workshops for validators and investors on proof of stake economics, infrastructure requirements, and system engineering.</li>
            <li><b>Demonstration of the Rhoc/Rev swap.</b> The Rhoc/Rev swap will coincide with the launch of the RChain mainnet later in 2018. Investors and token holders wanting to ensure their REV will be available at the launch of the RChain mainnet should participate.</li>
            <li><b>Key signing parties.</b> On-site key signing parties for participants during this event will allow mainnet genesis to be verified and secured by a broad community.</li>
        </ul>
        <div class="bodyText">Interested in presenting or leading a workshop? See the call for speakers section.</div>
    </div>

    <!-- Venue -->
    <div id="venueSection" class="section">
        <div class="header">Venue</div>
        <div class="wrapper">
            <img src="assets/red-marker.png" alt="RCon3 Venue">
            <div class="title"><b>RCon3 Venue</b></div><br>
            <div class="wrapper">
                <div class="bodyText"><b>bcc Berlin Congress Center GmbH</b></div>
                <div class="bodyText">Alexanderstr. 11</div>
                <div class="bodyText">10178 Berlin (Germany)</div>
            </div>
        </div>
        <div id="map"></div>
    </div>

    <!-- Accommodation -->
    <div id="accommodationSection" class="section">
        <div class="header">Accommodation</div>
        <div class="bodyText">There is not a designated hotel for this event. Please make your own lodging arrangements.</div>
        <a href="assets/hotels.pdf" target="_blank" class="button">Nearby Hotels</a>
    </div>

    <!-- Registration -->
    <div id="registrationSection" class="section">
        <div class="header">Registration</div>
        <!--  Modal/Lightbox  -->
        <div class="modal" id="modal">
            <div class="lightBox" id="lightBox">
                <div id="modalClose" onclick="modalClose()">X</div>


                <div id="frame1">
                    <div class="bodyText">We can take payment for RCon3 tickets in either USD or Ethereum. <b>Note that paying with ETH will get you a ~50% discount!</b></div>
                    <table>
                        <tr>
                            <td>General Admission</td>
                            <td>$700 &nbsp;&nbsp;or &nbsp;&nbsp; .75 ETH</td>
                        </tr>
                        <tr>
                            <td>Student</td>
                            <td>$50 &nbsp;&nbsp;or&nbsp;&nbsp; .06 ETH</td>
                        </tr>
                    </table>
                    <button id="ethButton" onclick="frame2()">Ethereum</button>
                    <!-- Noscript content for added SEO -->
                    <noscript><a href="https://www.eventbrite.com/e/rchain-developers-conference-tickets-46303100821" rel="noopener noreferrer" target="_blank"></noscript>
                    <button id="eventbrite-widget-modal-trigger-46303100821" type="button">USD</button>
                    <noscript></a>Buy Tickets on Eventbrite</noscript>

                    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                    <script type="text/javascript">
                        var exampleCallback = function() {
                            console.log('Order complete!');
                        };

                        window.EBWidgets.createWidget({
                            widgetType: 'checkout',
                            eventId: '46303100821',
                            modal: true,
                            modalTriggerElementId: 'eventbrite-widget-modal-trigger-46303100821',
                            onOrderComplete: exampleCallback
                        });

                    </script>
                    
                    <br><a href="/eth-tuts" target="_blank">How do I pay with Ethereum?</a>
                </div>

                <div id="frame2">
                    <span class="backBtn" onclick="modalOpen()"><img src="assets/arrow.png"></span>
                    <div class="bodyText">Select the ticket(s) you want to purchase. Then select 'submit order' to make your Ethereum payment.</div>
                    <form id="ethForm" method="post" action="/order-confirmation/submit">
                        <div class="formSection">
                            <div class="textWrapper">
                                <div class="title">General Admission</div>
                                <div class="bodyText">On Sale - Ends on Sep 3, 2018</div>
                            </div>
                            <div class="wrapper">
                                <div class="cost">.75 ETH</div>
                                <select name="generalAdmission" id="generalAdmission" onchange="displayTickets()">
                                    <option value="0" selected>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="formSection">
                            <div class="textWrapper">
                                <div class="title">Student</div>
                                <div class="bodyText">On Sale - Ends on Sep 3, 2018</div>
                                <div class="bodyText"><i>Please bring your student ID to the event to validate your eligibility for the student discount.</i></div>
                            </div>
                            <div class="wrapper">
                                <div class="cost">.06 ETH</div>
                                <select name="student" id="student" onchange="displayTickets()">
                                    <option value="0" selected>0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="formSection" id="emailSection">
                            <label for="email">Email</label>
                            <input type="email" placeholder="example@address.com" name="email" class="text" id="email" oninput="displayTickets()" required><span class="required">*</span>
                        </div>
                        <button id="ethButton2" class="disabled" type="submit" target="_blank" disabled>Submit Order</button>
                    </form>
                    <div class="preview">
                        <div>General Admission &nbsp; x <span id="generalAdmissionCount"></span><span id="generalAdmissionCost" class="cost"></span></div>
                        <div>Student &nbsp; x <span id="studentCount"></span><span id="studentCost" class="cost"></span></div>
                        <div class="divider"></div>
                        <div class="sum"><b>TOTAL</b><span class="cost"><b id="totalCost"></b></span></div>
                    </div>
                </div>

            </div>
        </div>
        <button id="registrationButton" type="button" onclick="modalOpen()">Register</button><br>

        <a href="rcon3-scholarship" target="_blank" class="button">Apply For Scholarship</a>
    </div>

    <!-- Call for Speakers -->
    <div id="callforspeakersSection" class="section">
        <div class="header">Call For Speakers</div>
        <div class="bodyText">RCon3 is an immersive educational experience for developers, researchers, and investors interested in learning more about the development and growth of blockchain technology. <i><b>We are seeking blockchain and cryptocurrency experts, business executives, thought leaders, and entrepreneurs with a passion for educating others on the latest developments in the blockchain industry.</b></i></div>
        <div class="bodyText">We receive many noteworthy applicants for our speaking slots and selections will be made at the sole discretion of the event organizers.</div>
        <div class="bodyText"><b>The deadline for proposals was June 1.</b></div>
    </div>

    <!-- Archive -->
    <div id="archiveSection" class="section">
        <div class="header">Archive</div>
        <a href="https://www.youtube.com/watch?v=Fs38s7nI3Uk&list=PLf2bbiic5ZjCPzin3gCSMGiBtbT8UO5o2" target="_blank" class="img"><img src="assets/video.svg" alt="RChain Video"><b>RCon1</b> November 2017 in Park City</a>
        <a href="https://www.youtube.com/watch?v=fW4KXUqiKO4&list=PLf2bbiic5ZjD2QuelvOaoLF7gFiSj7u7j" target="_blank" class="img"><img src="assets/video.svg" alt="RChain video"><b>RCon2</b> April 2018 in Boulder</a>
    </div>

    <!-- Contact -->
    <div id="contactSection" class="section">
        <div class="header">Contact</div>
        <div class="bodyText">Please contact <span>events@pyrofex.net</span> if you need additional information or support.</div>
    </div>

</div>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOJ7Mxu5JCTr6UrhjSTzresQxHUlPyXhw&callback=initMap"></script>
<script src="js/map.js"></script>
