<!--<section class="z-999 relative ph1 center" style="max-width: 1200px">
  <section class="bg-near-black flex flex-column flex-row-l justify-between mv4 ph1 ph3-ns pv3 pv0-l ph0-l" >
    <div class="ma1 ma4-l" style="width: 340px;">
      <script async data-uid="2b42744706" src="https://f.convertkit.com/2b42744706/1da8d36ba2.js"></script>
    </div>
    <div class="flex items-center justify-center mw6 mh1 mh4-l pv4">
      <span class="white f4 fw4 lh-copy pa0 bl-1">Sign up and stay up to date on RSong and immersive music.</span>
    </div>
  </section>
</section>-->
<section class="z-999 relative ph1 center" style="max-width: 1200px">
  <section class="bg-near-black flex flex-column flex-row-l justify-between mv4 ph1 ph3-ns pv3 pv0-l ph0-l" >
    <div class="ma1 ma4-l" style="width: 340px;">
      <script async data-uid="2b42744706" src="https://f.convertkit.com/2b42744706/1da8d36ba2.js"></script>
    </div>
    <div class="flex items-center justify-center mw6 mh1 mh4-l pv4">
      <span class="white f4 fw4 lh-copy pa0 bl-1">Sign up and stay up to date on RSong and immersive music.</span>
    </div>
  </section>
</section>
