body {
    padding-top: 75px;
}

.subHeader {
    padding: 0 15rem;
    font-size: 1.5rem;
}

.bodyText {
    padding: .5rem 15rem 2rem;
}

.main a:not(.inline-link) {
    border-bottom: 1px dotted #CC1E46;
    color: black;
    display: inline-block;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 2rem;
    padding: .2rem .2rem .1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

.main .section a img,
.main .section .italic img {
    width: 25px;
    vertical-align: bottom;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.main .section a:hover:not(.inline-link) {
    background: #CC1E46;
    border-radius: .2rem;
}

.cards .card {
    width: 25%;
    margin: 0 1rem;
    color: #CC1E46;
}

.title {
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: .5rem;
}

.subTitle {
    font-size: 1.1rem;
    margin-bottom: .2rem;
}

.main .subTitle:nth-child(4) {
    margin-bottom: 1rem;
}

.sticky {
    margin: 0 !important;
    left: 30px;
    position: fixed;
    top: 150px;
}

.main {
    background: white;
    padding: 1rem 15rem 14rem;
}

.main .header {
    color: #CC1E46;
    display: inline-block;
    margin: 2rem 0 .7rem;
    padding: 1rem 0 .2rem;
    text-align: left;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    border-bottom: 1px solid rgba(70, 69, 68, 1);
}

.main .bodyText {
    padding: 0;
    text-align: left;
    line-height: 1.4;
}

#introSection .bodyText {
    margin: 0 0 1rem;
}

#registrationSection .bodyText {
    margin: 0 0 3rem;
}

.main > #introSection .bodyText, .main > #faqSection .bodyText:nth-child(odd) {
    margin-bottom: 1rem;
}

/* Form Styles */

#submitFail {
    background: rgba(255,0,0, .3);
    border-radius: .28rem;
    display: none;
    margin-bottom: 2rem;
    padding: .8rem;
}

#submitFail .errorsTitle {
    color: rgb(144,0,0);
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: .3rem;
}

#submitFail .errors {
    color: rgb(144,0,0);
}

#submitSuccess {
    background: rgb(179, 255, 179);
    border-radius: .28rem;
    display: none;
    margin-bottom: 2rem;
    padding: .8rem;
}

#submitSuccess .success {
    color: rgb(0, 102, 0);
}

#validationForm {
    display: block;
    max-width: 1000px;
    padding-top: 2rem;
    position: relative;
}

#validationForm > .required {
    color: red;
    font-size: .9rem;
    position: absolute;
    right: 40px;
    top: 0;
}

#validationForm label {
    display: block;
    font-size: .85rem;
}

#validationForm .inputWrapper {
    display: inline-block;
    width: 49%;
}

.formSection {
    margin-bottom: 1.5rem;
}

.formSection .question {
    color: rgba(70, 69, 68, 1);
    font-weight: bold;
    margin-bottom: .3rem;
}

.formSection span {
    color: rgba(70, 69, 68, 1);
}

form input.text {
    font-size: 1rem;
    height: 2.5rem;
    margin-bottom: .5rem;
    padding: .3rem;
    width: 95%;
}

form span.required {
    position: relative;
    right: 12px;
    margin-right: 5px;
    color: red;
}

form span.required.textarea {
    bottom: 70px;
}


form button {
    background: #CC1E46;
    border: 1px solid #CC1E46;
    border-radius: .15rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    padding: .6rem 1.8rem;
    text-transform: uppercase;
    transition: .15s;
}

form button:hover {
    background: white;
    border: 1px solid #CC1E46;
    color: #CC1E46
}

form input#other {
    margin-left: .5rem;
    position: relative;
    top: 5px;
    width: 50%;
}

#footer {
    z-index: 11;
}


@media (max-width: 1200px) {
    .subHeader {
        padding: 0 8rem;
    }
    .bodyText {
        padding: .5rem 8rem 2rem;
    }
    .wrapperWrapper {
        padding: 0 8rem 4rem;
    }
    .main {
        padding: 1rem 8rem 14rem;
    }
}

@media (max-width: 960px) {
    .wrapperWrapper {
        padding: 0 8vw 8vw;
    }
    #logoWrapper {
        display: inline-block;
        position: absolute;
        right: 50px;
        width: auto;
    }
    #logoWrapper .textWrapper {
        position: static;
    }
    #logoWrapper img {
        width: 12vw;
    }
    #logoWrapper .textWrapper h1 {
        bottom: 5px;
        font-size: 8.2vw;
        line-height: .9;
    }
    #logoWrapper .textWrapper h3 {
        bottom: 8px;
        font-size: 5vw;
        left: 6px;
    }
    .main {
        padding: 1rem 2rem 12rem;
    }
}

@media (max-width: 767px) {
    .header {
        font-size: 1.4rem;
    }
    .subHeader {
        padding: 0 8vw;
        font-size: 1.1rem;
    }
    .main .bodyText {
        font-size;
        .8rem;
        padding: 1vw 0 0;
    }
    .masthead {
        height: 40vw;
        padding-top: 1rem;
    }
    .cards .card {
        width: 100%;
        margin-bottom: 20px;
        padding: 1.5rem;
    }
    .main {
        padding: 1vw 8vw 8vw;
    }
    .main .header {
        font-size: 1.5rem;
        margin: 0 0 1rem;
    }
    .main #applicationSection {
        padding-bottom: 2rem;
    }
    #submitFail .errorsTitle {
        font-size: 1.1rem;
    }
    #submitFail .errors {
        font-size: .9rem;
    }
    #validationForm {
        padding-top: 0;
    }
    #validationForm > .required {
        font-size: .8rem;
        position: relative;
        right: auto;
        text-align: right;
        top: auto;
        width: 95%;
    }
    #validationForm .inputWrapper {
        width: 98%;
    }
    form .title {
        font-size: 1.3rem;
        margin: .5rem 0;
    }
    .formSection .question {
        font-size: .9rem;
    }
    .formSection span {
        position: relative;
        bottom: 4px;
    }
    form textarea {
        width: 95%;
    }
    form input#other {
        width: 82.5%;
    }
    form input[type="radio"] {
        height: 20px;
        width: 20px;
    }
}

@media (max-width: 450px) {
    .masthead {
        height: 45vw;
        padding-top: 1rem;
    }
    #logoWrapper {
        top: 25px;
        right: 30px;
    }
    #logoWrapper img {
        width: 17vw;
    }
    #logoWrapper .textWrapper h1 {
        font-size: 11vw;
    }
    #logoWrapper .textWrapper h3 {
        font-size: 6.7vw;
        left: 2px;
    }
    form .title {
        font-size: 1.2rem;
    }
    form input.text {
        font-size: .9rem;
        height: 2rem;
        width: 95%;
    }
    .formSection .question {
        font-size: .8rem;
    }

}
