{{ $hash := .hash}}
<footer class="pa3 bg-near-black border-box ph3 flex items-center flex-column flex-row-l justify-between-l">
  <div>
    <span class="body2 white">&copy; {{ now.Format "2006" }} RChain Cooperative All rights reserved</span>
  </div>
  <div class="mt3 mt0-l">
    <a href="https://github.com/rchain/" target="_blank" class="link bn mr3">
      <img class="icon--lg" src='/images/{{ index $hash "github@3x.png" }}' />
    </a>
    <a href="https://twitter.com/rchain_coop" target="_blank" class="link bn mr3">
      <img class="icon--lg" src='/images/{{ index $hash "twitter@3x.png" }}' />
    </a>
    <a href="https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w" target="_blank" class="link bn mr3">
      <img class="icon--lg" src='/images/{{ index $hash "youtube@3x.png" }}' />
    </a>
    <a href="https://discord.gg/NWkQnfH" target="_blank" class="link bn">
      <img class="icon--lg" src='/images/{{ index $hash "discord@3x.png" }}' />
    </a>
  </div>
</footer>
