@import 'tachyons/variables';

.fill-black {
  fill: $black;
}
.fill-near-black {
  fill: $near-black;
}
.fill-gray {
  fill: $gray;
}
.fill-light-gray{
  fill: $light-gray;
}
.fill-white {
  fill: $white;
}
