.subHeader {
    padding: 0 15rem;
    font-size: 1.5rem;
}

.bodyText {
    padding: .5rem 15rem 2rem;
}

.main .section a:not(.inline-link) {
    border-bottom: 1px dotted #CC1E46;
    color: black;
    display: inline-block;
    font-size: 1rem;
    font-weight: 900;
    margin: .5rem .5rem;
    padding: 0 .2rem .1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

.main .section a img,
.main .section .italic img {
    width: 25px;
    vertical-align: bottom;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.main .section a:hover:not(.inline-link) {
    background: #CC1E46;
    border-radius: .2rem;
}

.cards .card {
    width: 25%;
    margin: 0 1rem;
    color: #CC1E46;
}

.title {
    font-size: 1.4rem;
    font-weight: 900;
    margin-bottom: .5rem;
}

.subTitle {
    font-size: 1.1rem;
    margin-bottom: .2rem;
}

.main .subTitle:nth-child(4) {
    margin-bottom: 1rem;
}



.sticky {
    margin: 0 !important;
    left: 30px;
    position: fixed;
    top: 150px;
}

.main {
    background: white;
    margin-bottom: -20px;
    padding: 8rem 15rem 14rem;
}

.main .header {
    color: #CC1E46;
    display: inline-block;
    margin: 2rem 0 2rem;
    padding: 1rem 0 .2rem;
    text-align: left;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    border-bottom: 1px solid rgba(70, 69, 68, 1);
}

.main .bodyText {
    line-height: 1.4;
    margin: auto;
    max-width: 800px;
    padding: 0;
    text-align: center;
}

#introSection .bodyText:nth-child(3) {
    margin-top: 1rem;
}

#introSection .bodyText:nth-child(3) span {
    font-weight: 900;
}

#orderconfSection > .line:nth-child(1) {
    border-bottom: 1px solid black;
    color: #CC1E46;
}

#orderconfSection,
#ethereumSection {
    border: 1px solid rgba(70, 69, 68, .5);
    border-radius: .28rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2rem auto;
    padding: 1rem;
    width: 40rem;
}

#ethereumSection button {
    background: #CC1E46;
    border: 1px solid #CC1E46;
    border-radius: .15rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 1.5rem auto .5rem;
    padding: .5rem 1.8rem .4rem;
    text-align: center;
    text-transform: uppercase;
    transition: .15s;
}

#ethereumSection button:hover {
    background: white;
    border: 1px solid #CC1E46;
    color: #CC1E46;
}

#ethereumSection #ethereumLine pre,
#ethereumSection #paymentPaid {
    color: green;
}

#ethereumSection span#paymentUnpaid {
    color: red;
    margin-left: .5rem;
}

#ethereumSection #discountLine.paid {
    font-size: 1.3rem;
    text-align: center;
}

#ethereumSection .line pre {
    background: white;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 .5rem;
    padding: .05rem .2rem;
}

#orderconfSection .line {
    margin: .4rem 0;
    position: relative;
}

#orderconfSection #earlyBirdLine, #orderconfSection #generalAdmissionLine, #orderconfSection #studentLine {
    color: rgba(70, 69, 68, 1);
}

#orderconfSection > .line:nth-child(1) {
    margin-bottom: 2rem;
}

#orderconfSection .line#emailLine {
    margin-top: 1rem;
}

#orderconfSection .line .total {
    position: absolute;
    right: 1rem;
}

#orderconfSection .line .cost {
    margin: 0 .7rem 0 3rem;
}

#orderconfSection .line .count {
    margin-left: .7rem;
}

#orderconfSection .divider {
    background: black;
    height: 2px;
    margin: .5rem 0;
}

#footer {
    z-index: 11;
}


@media (max-width: 1200px) {
    .subHeader {
        padding: 0 8rem;
    }
    .bodyText {
        padding: .5rem 8rem 2rem;
    }
    .wrapperWrapper {
        padding: 0 8rem 4rem;
    }
    .masthead {
        padding-top: 7rem;
    }
    #logoWrapper {
        right: 10vw;
    }
    .masthead #logoWrapper img {
        width: 11vw;
    }
    .masthead #logoWrapper .textWrapper h1 {
        font-size: 11vw;
    }
    #logoWrapper .textWrapper h3 {
        bottom: 10px;
    }
    #sideNav {
        width: 170px;
    }
    #sideNav a {
        font-size: .9rem;
    }
    .main {
        padding: 8rem 8rem 14rem;
    }
    #programSection ul {
        font-size: .85rem;
    }
}

@media (max-width: 960px) {
    .wrapperWrapper {
        padding: 0 8vw 8vw;
    }
    #logoWrapper {
        display: inline-block;
        position: absolute;
        right: 50px;
        width: auto;
    }
    #logoWrapper .textWrapper {
        position: static;
    }
    #logoWrapper img {
        width: 12vw;
    }
    #logoWrapper .textWrapper h1 {
        bottom: 5px;
        font-size: 8.2vw;
        line-height: .9;
    }
    #logoWrapper .textWrapper h3 {
        bottom: 8px;
        font-size: 5vw;
        left: 6px;
    }
    .main {
        padding: 8rem 2rem 12rem;
    }
}

@media (max-width: 767px) {
    .header {
        font-size: 1.4rem;
    }
    .subHeader {
        padding: 0 8vw;
        font-size: 1.1rem;
    }
    .main .bodyText {
        font-size;
        .8rem;
        padding: 1vw 0 0;
    }
    .masthead {
        height: 40vw;
        padding-top: 1rem;
    }
    .cards .card {
        width: 100%;
        margin-bottom: 20px;
        padding: 1.5rem;
    }
    .main {
        padding: 3.5rem 0 4vw;
    }
    .main .header {
        font-size: 1.5rem;
        margin: 2rem 0 1rem;
    }
    #introSection {
        margin: auto;
    }
    .section {
        width: 96% !important;
    }
    #orderconfSection, #ethereumSection {
        padding: 1rem .8rem;
    }
    #ethereumSection .line pre {
        display: block;
        margin: 0 0 0 0;
        overflow: auto;
    }
    #ethereumSection .line {
        font-size: 3.3vw;
        margin-bottom: .2rem;
    }
    #orderconfSection > .line:nth-child(1) {
        margin-bottom: 1rem;
    }
    #orderconfSection .line span:nth-child(1) {
        display: block;
    }
    #orderconfSection .line {
        font-size: 1.1rem;
    }
    #ethereumSection #discountLine.paid {
        font-size: 1.2rem;
    }
    .main #applicationSection {
        padding-bottom: 2rem;
    }
    form .title {
        font-size: 1.3rem;
        margin: .5rem 0;
    }
    .formSection .question {
        font-size: .9rem;
    }
    .formSection span {
        font-size: .85rem;
    }
    form textarea {
        width: 95%;
    }
    form input#other {
        width: 82.5%;
    }
}

@media (max-width: 450px) {
    #orderconfSection .line {
        font-size: .85rem;
    }
    form .title {
        font-size: 1.2rem;
    }
    form input.text {
        font-size: .9rem;
        height: 2rem;
        width: 95%;
    }
    .formSection .question {
        font-size: .8rem;
    }

}
