<div class="section">
    <div><img src="/assets/portfolio/RChain_Icon_Red.svg"></div>
    <h3>RChain<sup style="font-size: 0.5em">©</sup> is more than a blockchain. Through our community, we’re building an ecosystem comprised of organizations that share our vision of creating a better world.</h3>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <figure class="release-cover">
                    <h3>Dappy</h3>
                    <p>Dappy is a decentralized distribution network for files and web applications.</p>
                    <a href="https://dappy.tech/" class="btn-blue">https://dappy.tech/</a>
                </figure>
            </div>
            <div class="col-4">
                <figure class="release-cover">
                    <h3>iCapo</h3>
                    <p>Support creating and importing wallets, and supporting multi-wallet operations. </p>
                    <a href="https://icapo.app/" class="btn-blue">https://icapo.app/</a>
                </figure>
            </div>
            <div class="col-4">
                <figure class="release-cover">
                    <h3>Learn Rholang</h3>
                    <p>Rholang is an open and scalable blockchain language designed for speed and reliability. </p>
                    <a href="https://rholang.github.io/" class="btn-blue">https://rholang.github.io/</a>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <figure class="release-cover">
                    <h3>RNode Client Wallet</h3>
                    <p>RNode Client Wallet</p>
                    <a href="https://tgrospic.github.io/rnode-client-js/" class="btn-blue">https://tgrospic.github.io/rnode-client-js/</a>
                </figure>
            </div>
            <div class="col-4">
                <figure class="release-cover">
                    <h3>RUI Wallet</h3>
                    <p>RChain Wallet for your browser</p>
                    <a href="https://wenode.io/rui" class="btn-blue">https://wenode.io/rui</a>
                </figure>
            </div>
            <div class="col-4">
                <figure class="release-cover">
                    <h3>REVdefine</h3>
                    <p>RChain explorer</p>
                    <a href="https://revdefine.io/" class="btn-blue">https://revdefine.io/</a>
                </figure>
            </div>
            <div class="col-4">
                <figure class="release-cover">
                    <h3>MRW</h3>
                    <p>My RChain Wallet provides REV transaction services.</p>
                    <a href="https://myrchainwallet.com/" class="btn-blue">https://myrchainwallet.com/</a>
                </figure>
            </div>
        </div>
    </div>
</div>
