<div class="section">
    <div><img src="/assets/portfolio/reflective.png"><img src="/assets/portfolio/pithia.png"></div>
    <h3>RChain is more than a blockchain. Through our two venture fund partners, <a href="https://www.reflectiveventures.io/" target="_blank">Reflective Ventures</a> and <a href="https://www.pithia.com/" target="_blank">Pithia</a>, we’re building an ecosystem comprised of organizations that share our vision of creating a better world. Below are the companies you’ll soon experience on the RChain platform. </h3>
    <p><img src="/assets/portfolio/accessNetwork.jpeg"><a href="https://acxnetwork.com/" target="_blank">Access Network</a> Decentralized bank for the unbanked.</p>
    <p><img src="/assets/portfolio/augmate.jpeg"><a href="https://www.augmate.io/" target="_blank">Augmate</a> Bridging the gap between inflexible business information systems, wearables, and all of IoT.</p>
    <p><img src="/assets/portfolio/blockchainAtBerkeley.png"><a href="https://blockchain.berkeley.edu/" target="_blank">Blockchain at Berkeley</a> A student-run organization at UC Berkeley dedicated to serving the Berkeley and greater East Bay crypto and blockchain communities.</p>
    <p><img src="/assets/portfolio/coegil.jpeg"><a href="https://coegil.com/" target="_blank">Coegil</a> The first Decision Science platform that connects you to the data and expertise you need to make great decisions quickly.</p>
    <p><img src="/assets/portfolio/digitalTown.png"><a href="https://digitaltown.com/" target="_blank">Digital Town</a> A pioneer in the use of smart city technology and decentralized applications for cities.</p>
    <p><img src="/assets/portfolio/every.png"><a href="https://every.shop/" target="_blank">Every</a> A new retail platform that empowers shoppers to monetize their data in direct transactions with brands.</p>
    <p><img src="/assets/portfolio/funFactor.png"><a href="https://www.linkedin.com/company/fanfactor-inc/" target="_blank">FanFactor</a> Blockchain-based sports fan engagement platform that turns sports talk into sports action.</p>
    <p><img src="/assets/portfolio/hubg.png"><a href="https://www.hubg.io/" target="_blank">Harvard Undergraduate Blockchain Group</a> Engaging in the discussion and education of cryptocurrency and blockchain technology on campus.</p>
    <p><img src="/assets/portfolio/helloFriend.jpeg"><a href="https://joinhellofriend.com/" target="_blank">Hellofriend</a> A decentralized shared economy for real life activities.</p>
    <p><img src="/assets/portfolio/inkCrypt.jpeg"><a href="https://www.inkrypt.io/" target="_blank">Inkrypt</a> A privacy-centric, decentralized content hosting solution.</p>
    <p><img src="/assets/portfolio/lifeID.png"><a href="https://lifeid.io/" target="_blank">LifeID</a> Bringing identity into the modern era with an open-source, blockchain-based identity platform.</p>
    <p><img src="/assets/portfolio/lucidity.jpeg"><a href="https://lucidity.tech/" target="_blank">Lucidity</a> Improving the authenticity of digital advertising analytics through a neutral, decentralized shared ledger.</p>
    <p><img src="/assets/portfolio/open.jpeg"><a href="https://www.openfuture.io/" target="_blank">Open</a> The first blockchain infrastructure for applications.</p>
    <p><img src="/assets/portfolio/proofMedia.jpeg"><a href="https://proofmedia.io/" target="_blank">Proof</a> Leading the frontier in the battle against untruthful content.</p>
    <p><img src="/assets/portfolio/resonate.png"><a href="https://resonate.is/" target="_blank">Resonate</a> Streaming music platform that empowers independent artists with a stream-to-own model.</p>
    <p><img src="/assets/portfolio/reSure.png"><a href="http://www.re-sure.com/" target="_blank">Re-sure</a> Insurance for people on the move.</p>
    <p><img src="/assets/portfolio/rubica.png"><a href="https://rubica.com/" target="_blank">Rubica</a> Restoring safety to your digital world.</p>
    <p><img src="/assets/portfolio/swytch.jpeg"><a href="https://swytch.io/" target="_blank">Swytch</a> Using the blockchain to track carbon impact and reward sustainable actions.</p>
    <p><img src="/assets/portfolio/tesloop.png"><a href="https://www.tesloop.com/" target="_blank">Tesloop</a> Tesloop is building Carmiq, a connected car community and data-driven services marketplace.</p>
    <p><img src="/assets/portfolio/translo.png"><a href="https://www.translo.io/" target="_blank">Translo</a> A powerful platform for sharing biomedical data in a decentralized, secure, efficient, and permissioned manner.</p>
    <p><img src="/assets/portfolio/trustedKey.jpeg"><a href="https://www.trustedkey.com/" target="_blank">Trusted Key</a> An enterprise digital identity solution that leverages blockchain technology to provide the foundation of digital trust.</p>
    <p><img src="/assets/portfolio/veriledger.jpeg"><a href="https://veriledger.io/" target="_blank">Veriledger</a> Decrypting cryptocurrency accounting.</p>
    <p><img src="/assets/portfolio/witnet.jpeg"><a href="https://witnet.io/#/" target="_blank">Witnet</a> Smart contracts with real power.</p>
    <p><img src="/assets/portfolio/wmvai.jpeg"><a href="http://wmv.ai/" target="_blank">WMVAI</a> Magnifying voice for attention and influence.</p>
    <p><img src="/assets/portfolio/xpansiv.png"><a href="https://www.xpansiv.com/" target="_blank">Xpansiv</a> Transforming how commodities are valued.</p>
</div>