<div class="section" id="rchainSection">

    <p>The RChain Cooperative was formed in January 2017 to steward the development and progression of the RChain platform. The cooperative provides the foundational support necessary for RChain to grow into, and remain, a publicly owned and operated information utility. RChain Co-op members invigorate the ecosystem with constant experimentation of governance models, empowering individual agency within a collective.</p>

</div>
{{!-- 
<div class="section" id="quoteSection">
    <p><span>"</span>To become a blockchain solution with industrial-scale utility, RChain must provide content delivery at the scale of Facebook and support transactions at the speed of Visa.<span>"</span></p>
    <h6>Greg Meredith</h6>
</div> --}}

<div class="section" id="leadershipSection">
    <h2 class="directorsTitle">Board of Directors</h2>
    <div class="flexWrapper">
        <div class="card">
            <div class="imgWrapper">
                <img src="/assets/leadership/rchain-team-greg-meredith-squared.jpg">
                <div class="bio">
                   <p>
                    Lucius Gregory (Greg) Meredith is the president of the RChain Cooperative. Greg is a mathematician, and the discoverer of the rho-calculus, a co-inventor of the LADL algorithm, and the inventor of the ToGL approach to graph theory.
                   </p>
                </div>
            </div>
            <div class="textWrapper">
                <span>
                    <h4>Greg Meredith</h4>
                    <a href="https://twitter.com/leithaus"><img src="/assets/twitter-black.png" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/lucius-meredith-547645/"><img src="/assets/linkedin-black.png" alt="LinkedIn"></a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="imgWrapper">
                <img src="/assets/leadership/rchain-team-kenny-rowe-squared.jpg">
                <div class="bio">
                   <p>
                    Holistic Technologist, lives part time in the future. Rchain Cooperative. MakerDAO. CoinFund. Onchain.
                   </p>
                </div>
            </div>
            <div class="textWrapper">
                <span>
                    <h4>Kenny Rowe</h4> 
                    <a href="https://twitter.com/kennyrowe"><img src="/assets/twitter-black.png" alt="Twitter"></a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="imgWrapper">
                <img src="/assets/leadership/rchain-team-vlad-zamfir-squared.png">
                <div class="bio">
                   <p>
                    Vlad Zamfir is a researcher with the Ethereum Foundation. He is the lead developer of the Casper protocol upgrade best known for his work on cryptoeconomics, proof-of-stake, and blockchain sharding.
                    </p>
                </div>
            </div>
            <div class="textWrapper">
                <span>
                    <h4>Vlad Zamfir</h4>
                    <a href="https://twitter.com/VladZamfir"><img src="/assets/twitter-black.png" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/vlad-zamfir/"><img src="/assets/linkedin-black.png" alt="LinkedIn"></a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="imgWrapper">
                <img src="/assets/leadership/rchain-team-ian-bloom.jpg">
                <div class="bio">
                   <p>
                    Ian has been actively supporting the development of RChain since April 2015 and was a member of Synereo's core team, helping with systems admin, marketing, website development, and hosting. He is a Linux, Open Source, and Blockchain enthusiast with a finance degree from the University of Baltimore. He has worked as a Microsoft Systems Engineer (MCSE) for AEGON, and Computer Security Specialist for Fortress Technologies (now General Dynamics), & Kroll.
                    </p>
                </div>
            </div>
            <div class="textWrapper">
                <span>
                    <h4>Ian Bloom</h4>
                    <a href="https://twitter.com/doctor_bloom"><img src="/assets/twitter-black.png" alt="Twitter"></a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="imgWrapper">
                <img src="/assets/leadership/rchain-team-evan-jensen.jpg">
                <div class="bio">
                   <p>
                    Evan Jensen is a lawyer and a technologist, also with an LLM in Innovation and Technology from Seattle University School of Law, and has been with RChain since the formation of the Cooperative. He has always been an enthusiast of video games and hopes blockchain technology will enable the creation of the ultimate global online arcade, in the classical style where users pay perhaps 25 cents to play a game of their choice once, forever replacing the "freemium" garbage that has become ubiquitious with a direct, independent distribution and payment system that is clear, simple, and fair.
                    </p>
                </div>
            </div>
            <div class="textWrapper">
                <span>
                    <h4>Evan Jensen</h4>
                    <a href="https://twitter.com/ledarsi"><img src="/assets/twitter-black.png" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/evan-jensen-ab07aa2a/"><img src="/assets/linkedin-black.png" alt="LinkedIn"></a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="imgWrapper">
                <img src="/assets/leadership/rchain-team-barry-cynamon-squared.jpg">
                <div class="bio">
                   <p>
                    Barry is a business consultant, market researcher, and economist. He has a knack for interrogating data and wears multiple hats, juggling projects and finding structure in the face of ambiguity.
                    </p>
                </div>
            </div>
            <div class="textWrapper">
                <span>
                    <h4>Barry Cynamon</h4>
                    <a href="https://www.linkedin.com/in/barrycynamon/"><img src="/assets/linkedin-black.png" alt="LinkedIn"></a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="imgWrapper">
                <img src="/assets/leadership/rchain-team-kevin-goldstein-squared.jpg">
                <div class="bio">
                   <p>
                    Kevin is a competitive, compassionate, mindful, and seasoned business professional with uncommon leadership, management, and communication skills who is forever curious, seeking of new challenges and readily adapting to them. He is a managing partner at Kee Global Advisors and is on the board at numerous crypto-based agencies.
                    </p>
                </div>
            </div>
            <div class="textWrapper">
                <span>
                    <h4>Kevin Goldstein</h4>
                    <a href="https://twitter.com/kevinmgoldstein"><img src="/assets/twitter-black.png" alt="Twitter"></a>
                    <a href="https://www.linkedin.com/in/kevinmgoldstein/"><img src="/assets/linkedin-black.png" alt="LinkedIn"></a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="section" id="communitySection">
    <div>
        <h6>Friends & Enthusiasts</h6>
        <h2>Engage with the Community</h2>
        <p>Community is the heart of RChain. Our inclusive cooperative, balancing results and a purpose-driven outlook, is what brings us together to build technology and social tools. Aimed at lifting our world up and effecting real, positive change, we will help each other flourish.</p>
    </div>

    <div class="flexWrapper">
        <div>
            <a href="https://github.com/rchain/" target="_blank"><img src="/assets/github@3x.png"></a>
        </div>
        <div>
            <a href="https://twitter.com/rchain_coop" target="_blank"><img src="/assets/twitter@3x.png"></a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w" target="_blank"><img src="/assets/youtube@3x.png"></a>
        </div>
        <div>
            <a href="https://discord.gg/fvY8qhx" target="_blank"><img src="/assets/discord@3x.png"></a>
        </div>
    </div>
</div>
