<div class="masthead">
    <div id="logoWrapper">
        <img src="/assets/rchain-redwhite-logo.png" alt="rchain">
    </div>
</div>

<div class="pageTitle">RChain Documentation</div>

<div class="main">

    <div id="intro" class="g-cards section">
        <div class="header expander">Introduction to RChain<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="intro">RChain is a decentralized, economically sustainable public compute infrastructure. While the RChain design is inspired by that of earlier blockchains, it also realizes decades of research across the fields of concurrent and distributed computation, mathematics, and programming language design.</div>
            <div class="item">
                <a href="https://www.youtube.com/watch?v=f1D4vowiMiI" target="_blank" class="img"><img src="assets/video.svg">What is RChain all about?</a>
                <a href="https://architecture-docs.readthedocs.io/index.html" target="_blank" class="img"><img src="assets/read.svg">RChain Platform Architecture</a>
                <a href="https://rchain.atlassian.net/wiki/spaces/CORE/overview" target="_blank" class="img"><img src="assets/read.svg">RChain: Technical specifications and release plans</a>
                <a href="https://blog.rchain.coop/" target="_blank" class="img">RChain Blog</a>
            </div>
        </div>
    </div>

    <div id="rholang" class="g-cards section">
        <div class="header expander">Rholang<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="intro">Rholang is a new language for writing smart contracts that run on the RChain platform.</div>
            <div class="intro">The language is a reflective higher-order process calculus, based on Milner's asynchronous polyadic pi calculus. As such, it is inherently concurrent, which makes it better suited to distributed programming than languages based on Turing machines or Church's lambda calculus, which are inherently sequential.</div>
            <div class="item">
                <a href="assets/rholang-spec-0.2.pdf" target="_blank" class="img"><img src="assets/read.svg">Rholang specification</a>
                <a href="tutorial">Rholang Tutorial</a>
                <a href="assets/illegal moves.pdf" target="_blank" class="img"><img src="/assets/read.svg">Clarifications on pattern-matching</a>
                <a href="https://www.youtube.com/watch?v=fJuug_oECx8&feature=youtu.be" class="img"><img src="assets/video.svg">Rholang is Simple</a>
            </div>
        </div>
    </div>

    <div id="casper" class="g-cards section">
        <div class="header expander">What is Casper?<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="intro">Casper is a particular family of proof-of-stake algorithms with strong mathematical foundations first described by an Ethereum research group.</div>
            <div class="item">
                <a href="casper" class="img"><img src="assets/read.svg">What is Casper?</a>
                <a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/92536846/Casper+for+RChain" class="img" target="_blank"><img src="assets/read.svg">Casper for RChain</a>
                <a href="https://medium.com/rchain-cooperative/a-visualization-for-the-future-of-blockchain-consensus-b6710b2f50d6" class="watch" target="_blank" class="img"><img src="assets/read.svg">Correct-by-construction Casper: A Visualization for the Future of Blockchain Consensus</a>
                <a href="https://github.com/ethereum/research/blob/master/papers/cbc-consensus/AbstractCBC.pdf" target="_blank" class="img"><img src="assets/read.svg">Casper the Friendly Ghost: A “Correct-by-Construction” Blockchain Consensus Protocol by Vlad Zamfir</a>
            </div>
        </div>
    </div>

    <div id="ladl" class="g-cards section">
        <div class="header expander">What is LADL?<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="intro">LADL is a process to create spatial-behavioral type systems. Such a system not only describes the structure of datatypes, but also the behavior of the processes.</div>
            <div class="item">
                <a href="ladl"><img src="assets/read.svg">What is LADL?</a>
                <a href="https://www.youtube.com/watch?v=rZawYtTdObo" target="_blank" class="img"><img src="assets/video.svg">LADL algorithm and type theory</a>
                <a href="https://link.springer.com/chapter/10.1007/11580850_19" class="watch" target="_blank" class="img"><img src="assets/read.svg">Namespace Logic</a>
                <a href="https://arxiv.org/abs/1307.7766" class="watch" target="_blank" class="img"><img src="assets/read.svg">Policy as Types</a>
                <a href="https://docs.google.com/document/d/1sGlObhGhoEizBXC30Ww4h1KHKGkmcy4NiCKitIBqiUg/edit#heading=h.9jt0is6s50ai" class="watch" target="_blank" class="img"><img src="assets/read.svg">DAO Attack Deep Dive</a>
            </div>
        </div>
    </div>
</div>
