<div class="masthead">
    <div id="logoWrapper">
        <img src="/assets/logo_red.png" alt="rchain">
        <div class="textWrapper">
            <h1>RCHAIN</h1>
            <div>Scalable, Secure, Sustainable</div>
        </div>
    </div>
</div>

<div class="main">

    <div class="section">
        <div class="bodyText">
            <div class="header">Ethereum Tutorials</div>
            <a href="https://99bitcoins.com/guide-buy-ether-ethereum/" target="_blank"><img src="assets/read.svg" alt="RChain video">How can I buy/acquire Ethereum?</a>
            <a href="https://www.youtube.com/watch?v=-uJjfn4wizE" target="_blank"><img src="assets/video.svg" alt="RChain video">How do I send an Ethereum payment?</a>
        </div>
    </div>

</div>
