<div class="masthead">
    <div id="logoWrapper">
        <img src="/assets/rchain-redwhite-logo.png" alt="rchain">
    </div>
</div>

<div class="main">
    <div class="section">
        <div id="FAQ">FAQ</div>
        <div class="header">General</div>

        <div class="subHeader">What is RChain?</div>
        <div class="bodyText">RChain is a fundamentally new blockchain platform rooted in a formal model of concurrent and decentralized computation. The RChain Cooperative is leveraging that model through correct-by-construction software development to produce a concurrent, compositional, and infinitely scalable blockchain.</div>

        <div class="subHeader">Where is the whitepaper?</div>
        <div class="bodyText"><a href="http://docs.google.com/gview?url=https://github.com/rchain/reference/raw/master/docs/RChainWhitepaper.pdf" target="_blank">On Github (PDF).</a> See also the <a href="http://rchain-architecture.readthedocs.io/" target="_blank">RChain Architecture</a></div>

        <div class="subHeader">Where is the roadmap?</div>
        <div class="bodyText">You can see the milestones and dependency graph <a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/105709609/The+Flight+to+Mercury" target="_blank">here</a>. RChain is an ambitious project, involving research, not just writing code. Dates are not finalized until communicated explicitly.</div>

        <div class="subHeader">How did RChain come to be?</div>
        <div class="bodyText">RChain was the culmination of a number of innovations by founder Greg Meredith. The core of RChain is based on mobile process calculi, a branch of mathematics with approximately 30 years of history. Together with the experience of other blockchains and other technology, the RChain architecture was documented in July, 2016. At that time, the goal was to create a blockchain-based social network with inbuilt micropayments functionality (i.e. attention economy). Due to the complexity of the project and disagreement between team members, it was decided that Greg would focus on realizing the vision of RChain. The RChain organizations (the <a href="https://www.rchain.coop/" target="_blank">Co-op</a> and Holdings company) were formed in December 2016 - January 2017.</div>
    </div>

    <div class="section">
        <div class="header">Cooperative</div>

        <div class="subHeader">What is the RChain Cooperative?</div>
        <div class="bodyText"> The RChain Cooperative was formed in January 2017 to steward the development and progression of the RChain platform. The cooperative provides the foundational support necessary for RChain to grow into, and remain, a publicly owned and operated information utility. RChain Co-op members invigorate the ecosystem with constant experimentation of governance models, empowering individual agency within a collective.</div>

        <div class="subHeader">Where is RChain based?</div>
        <div class="bodyText">The RChain Cooperative is a global organization incorporated in Washington State in the USA. RChain cooperative leaders, members, staff, and contractors live around the world.</div>

        <div class="subHeader">What is the governance model?</div>
        <div class="bodyText">To learn more about the governance model please see the articles of incorporation and bylaws published on <a href="https://github.com/rchain/board" target="_blank">Github.</div>
    </div>

    <div class="section">
        <div class="header">Tokens</div>

        <div class="subHeader">What are RHOCs?</div>
        <div class="bodyText">RHOCs are an Ethereum ERC20 token issued by the Co-op in early 2017 intended as a vehicle for people to get access to the technology. There are 861,185,194 RHOCs in existence. No more will be minted. RHOCs will be 1:1 redeemable for REVs, a future RChain platform native staking token.</div>

        <div class="subHeader">Is there an airdrop?</div>
        <div class="bodyText">No. Contrary to fraudulent reports circulating on Twitter, no airdrop is in the works or planned.</div>

        <div class="subHeader">What is the plan for supply of RHOCs, REVs, and potential other staking tokens?</div>
        <div class="bodyText">This is a somewhat outdated <a href="https://docs.google.com/document/d/1lCVeO63E-WVosOnBIA2hH416Hs-Z0e1Av9eJWq-L20o/edit" target="_blank">financial summary, distribution, and other information</a>. This is the <a href="https://github.com/rchain/reference/blob/master/finance/rhoc.md" target="_blank">current distribution.</a><br><br>At the first Member Meeting in October 2017 the Members voted that "The Cooperative should sell from its treasury to put no more than 200 million RHOC tokens in circulation (tokens held by anyone, other than; 1) held by the Cooperative, or 2) burned) during the next calendar year." The full voting results are <a href="https://medium.com/rchain-cooperative/annual-meeting-summary-3827a82a2e33" target="_blank">reported on Medium</a>.</div>

        <div class="subHeader">How do I see my RHOCs in myetherwallet.com and Metamask?</div>
        <div class="bodyText">Click “Add Custom Token”, then fill in:<br>Contract Address: 0x168296bb09e24a88805cb9c33356536b980d3fc5<br>Token Symbol: RHOC<br>Decimals: 8</div>

        <div class="subHeader">Where can I trade RHOCs?</div>
        <div class="bodyText">RChain cannot endorse RHOC trading because of the structure of our private sale.</div>

        <div class="subHeader">Is it possible to redeem AMPs for RHOCs?</div>
        <div class="bodyText">Not directly; the redemption period ended in April 2017. AMPs and RHOCs are tradable on exchanges.</div>

        <div class="subHeader">What is the process for swapping RHOC for REV?</div>
        <div class="bodyText">RHOCs will be 1:1 redeemable for REVs. REVs are the native staking token for the RChain platform. <a href="token-swap" target="_blank">Learn more about the RHOC/REV swap.</a></div>
    </div>

    <div class="section">
        <div class="header">Members</div>

        <div class="subHeader">How can I get involved with RChain?</div>
        <div class="bodyText">There are a variety of ways to get involved. Consider engaging via our social networks (shown below on this page) to learn more about opportunities to learn more and contribute.</div>

        <div class="subHeader">What is the Membership Program?</div>
        <div class="bodyText">Individuals can become members of the RChain Cooperative. Please <a href="https://rchain.coop/community" target="_blank">click here</a> for more information about membership and how to join.</div>.

        <div class="subHeader">I live outside of the United States. Can I join as a Member?</div>
        <div class="bodyText">Yes. Please <a href="https://rchain.coop/community" target="_blank">click here</a> fir more information about membership requirements and how to join.</div>

        <div class="subHeader">Is there a bounty program?</div>
        <div class="bodyText">Previously, there was a bounty program. We are looking at reinstating it in 2019.</div>

    <div class="section" style="padding-bottom: 4rem;">
        <div class="header">Developers</div>

        <div class="subHeader">What is Pi Calculus?</div>
        <div class="bodyText">“In theoretical computer science, the π-calculus is a process calculus. The π-calculus allows channel names to be communicated along the channels themselves, and in this way it is able to describe concurrent computations whose network configuration may change during the computation.” (<a href="https://en.wikipedia.org/wiki/Pi-calculus" target="_blank">Reference</a>). To better understand how it is being applied in the RChain development, check out the paper <a href="http://mobile-process-calculi-for-programming-the-new-blockchain.readthedocs.io/en/latest/" target="_blank">Mobile process calculi for programming the blockchain.</a></div>

        <div class="subHeader">What skills do I need to participate?</div>
        <div class="bodyText">At this point the entire development focus is on the core platform. The VM, storage, and networking layers are all written in Scala. There will eventually be code for Casper, the REV wallet, and a few other things in Rholang. If you’re a seasoned developer with Scala skills then please get in touch. Down the road more and varied skills will be needed. Programmers versed in other languages, web developers, designers, Javascript experts, system administrators, beta testers, and quality assurance people will be in demand. If you'd like to participate please <a href="https://rchain.coop/community" target="_blank">join as a Member</a> and put yourself in the Talent Pool.</div>

        <div class="subHeader">How can I learn Rholang?</div>
        <div class="bodyText">An understanding of Pi Calculus will help. Join the RChain Discord and inquire to find out more. The <a href="https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w" target="_blank">RChain YouTube channel</a> has videos that explain various aspects of the platform. Our developer subdomain also hosts a Rholang tutorial which can be found <a href="https://github.com/JoshOrndorff/LearnRholangByExample#learn-rholang-by-example">here</a>.</div>

        <div class="subHeader">What will the license be for RChain's components?</div>
        <div class="bodyText">RChain's components are all under open source and free software licenses. Our license of choice is Apache v2. Rholang is the only component currently licensed under the MIT license.</div>

        <div class="subHeader">Any plan to support solidity/serpent or to build a transpiler?</div>
        <div class="bodyText">There is a Dapp (Cryptofex) that intends to build an IDE on RChain that can support Rholang and solidity for a start so devs that are familiar with solidity can easily code smart contracts that would run on RChain's VM. The team behind the Dapp is same team leading the RChain's development; Pyrofex. <a href="https://docs.google.com/document/d/18xe2cySKxaKXlyqheY0nzsn9-GyoqALgAITTEeZDD7M/edit" target="_blank">Cryptofex White Paper</a></div>

        <div class="subHeader">Tell me more about the storage layer.</div>
        <div class="bodyText">The storage layer is a fundamental part of the VM; it just happens to be something that's modular enough to break out into its own library. The storage layer is how message delivery between processes is implemented; it uses Rholang patterns as keys. Sending on a pattern is putting data in the database; receiving on a pattern is querying the database. If there's no data to consume, a continuation is stored at the key instead. If there's already a continuation, and you're trying to store data, the continuation gets applied to the incoming data.</div>

        <div class="subHeader">Where is the data stored? Is all data replicated across all nodes in a namespace?</div>
        <div class="bodyText">We're building an API backed by LMDB (<a>Lightning Memory-Mapped Database</a>). Yes.</div>

        <div class="subHeader">What is the process for transaction commitment?</div>
        <div class="bodyText">Rholang doesn't use a notion of transaction in the same way that Ethereum does. Ethereum uses event-loop concurrency, and either the entire turn kicked off by a message succeeds or it doesn't (maybe you ran out of gas, maybe there was some other error). Rholang blocks, on the other hand, contain three kinds of data: individual synchronizations of names, new sends, and new contract deployments. If you want transactions, you have to write code that implements them.</div>

        <div class="subHeader">What's the key difference between ETH Casper and Rchain Casper and why bother doing Rchain and not just build on top of Ethereum and Casper?</div>
        <div class="bodyText">In short, the main reason not to build on top of Ethereum is in order to have formal verification at all levels. i.e. There will always be some math which can prove to us that any given part of the system is bug-free. The foundation of RChain is Reflective Higher Order Calculus, which enables the creation of ‘correct-by-construction’ contracts. From system contracts to Casper Consensus, RChain contracts will be backed by formal verification, giving users some guarantees on what these contracts do.</div>

        <div class="subHeader">What is a safety oracle?</div>
        <div class="bodyText">A safety oracle looks at all the messages a node has received and says "at this point, no one can convince me that this subset of information is wrong." If the network converges on the value of that information, it must converge on what that node believes.</div>
    </div>
</div>
