<div class="masthead">
    <div id="logoWrapper">
        <img src="/assets/rchain-redwhite-logo.png" alt="rchain">
        {{!-- <div class="textWrapper">
            <h1>RCHAIN</h1>
            <div>Scalable, Secure, Sustainable</div>
        </div> --}}
    </div>
</div>

<div class="bodyText intro">
    <div>Welcome to the developer site for the RChain platform. This is a hub for content to help you learn about and get started with RChain. This is also a hub for developers who want to participate in the project or plan to build on the RChain platform. If you don't find what you need, please see the <a href="https://faq.rchain.coop">FAQ.</a></div>
</div>

<div class="main">

    <div id="start" class="g-cards section">

        <div class="header expander">Get Started<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="subHeader">RNode</div>
                <div class="body">Nodes form the RChain peer-to-peer network. The network layer is the lowest level component in the architecture that will eventually support RChain’s large-scale blockchain operations.</div>
                <div class="title">RNode v0.9.12 (16d90f4)</div>
                <a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/745996331/RNode-0.9.12+release+plan" target="_blank" class="img"><img src="/assets/read.svg">RNode 0.9.12 release plan</a><br>
                <a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/428376065/User+guide+for+running+RNode" target="_blank" class="img"><img src="/assets/read.svg">RNode user guide</a><br>
                <div class="subSubHeader">Docker</div>
                <pre>docker pull rchain/rnode</pre>
                <div class="subSubHeader">Homebrew</div>
                <pre>brew install rchain/rchain/rnode</pre>
                <div class="subSubHeader">Packages</div>
                <a href="https://github.com/rchain/rchain/releases/download/v0.9.12/rnode-0.9.12.git16d90f43-1.noarch.rpm"><img src="/assets/download.svg">rnode-0.9.12.noarch.rpm</a>
                <a href="https://github.com/rchain/rchain/releases/download/v0.9.12/rnode-0.9.12.git16d90f43.tgz"><img src="/assets/download.svg">rnode-0.9.12.tgz</a>
                <a href="https://github.com/rchain/rchain/releases/download/v0.9.12/rnode_0.9.12.git16d90f43_all.deb"><img src="/assets/download.svg">rnode_0.9.12_all.deb</a>
                <div class="subSubHeader">Source Code</div>
                <a href="https://github.com/rchain/rchain/archive/v0.9.12.zip" class="subSubHeader-link img"><img src="/assets/download.svg">Source code (zip)</a>
                <a href="https://github.com/rchain/rchain/archive/v0.9.12.tar.gz" class="subSubHeader-link img"><img src="/assets/download.svg">Source code (tar.gz)</a>
            </div>
            <div class="item">
                <div class="subHeader">Rholang</div>
                <div class="body">Rholang is a new language for writing smart contracts for the RChain platform. Developers can write and compile Rholang in RNode and community-developed tools (see Community Contributions below). As the language develops so too do the resources available for developers to get started and use Rholang.</div>
                <a href="https://github.com/JoshOrndorff/LearnRholangByExample#learn-rholang-by-example" target="_blank"><img src="/assets/read.svg">Learn By Example tutorials</a>
                <a href="https://github.com/JoshOrndorff/LearnRholangByExample/tree/master/cheatSheet#rholang-cheat-sheet" target="_blank"><img src="/assets/read.svg">Rholang cheat sheet</a>
                <a href="https://github.com/rchain/rchain/blob/master/docs/rholang/rholangtut.md" target="_blank" class="img"><img src="/assets/read.svg">The Core team's tutorial</a>
                <a href="/assets/illegal moves.pdf" target="_blank" class="img"><img src="/assets/read.svg">Clarifications on pattern-matching</a>
            </div>
            <div class="item">
                <div class="subHeader">RSpace</div>
                <div class="body">RSpace is a Scala library that has been designed to provide a disk-based tuple space that both meets the persistence needs of RChain’s Rholang project and offers a novel storage model for developers to use in their own projects.</div>
                <div class="title">RSpace - 0.1.1</div>
                <a href="https://github.com/rchain/rchain/tree/master/rspace" target="_blank" class="img"><img src="/assets/download.svg">Get started with RSpace</a>
            </div>
            <div class="item">
                <div class="subHeader">Community Contributions</div>
                <div class="body">We welcome and value the work RChain community members do to support the use of Rholang and the RChain platform. If you have a tool or resource to share, please let us know.</div>
                <div class="body">RChain Community Developer Hub is a community-driven effort to provide RChain platform documentation and guides for application developers.</div>
                <a href="https://rchain-community.readme.io/" target="_blank">RChain Community Developer Hub</a>
                div class="body">Cryptofex IDE is one of the easiest ways to write and compile Rholang along with the get started tutorials.</div>
                <a href="https://cryptofex.io/" target="_blank">Cryptofex IDE</a>
                <div class="body">An API for dApp frontends to communicate with the RChain blockchain.</div>
                <a href="https://www.npmjs.com/package/rchain-api" target="_blank">RChain-API</a></br>
                <a href="https://github.com/rchain-community/rholang-syntax-highlighting" target="_blank">Rholang syntax highlighting files and plugins</a>
                <a href="http://rchain.cloud/" target="_blank">Web interface to play with the Rholang language</a>
                <a href="https://github.com/tgrospic/rholang-idea" target="_blank">Rholang plugin for the IntelliJ Platform</a>
            </div>
        </div>
    </div>

    <div class="sectionWrapper">

        <div id="status" class="g-cards section">
            <div class="header expander">Project Status<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">
                <div class="item">
                    <div class="subHeader">Roadmap: The Flight to Mercury</div>
                    <div class="body">At a very high level, there are three key milestones in this project:</div>
                    <ul>
                        <li>Launch of the RChain test net - <span class="italic">September 2018</span></li>
                        <li>Launch of name registry - <span class="italic">October 2018</span></li>
                        <li>Launch of the RChain main net - <span class="italic">Q3 2019</span></li>
                    </ul>
                    <div class="body">Below are resources with additional details on the project milestones, release plans, and status.</div>
                    <a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/105709609/The+Flight+to+Mercury" target="_blank">Roadmap: The Flight to Mercury</a>
                    <a href="https://rchain.atlassian.net/wiki/spaces/CORE/overview" target="_blank">Release Plans</a>
                    <a href="https://github.com/rchain/rchain" target="_blank">Github</a>
                    <a href="https://rchain.atlassian.net/wiki/spaces/DOC/pages/177045583/Development+Team+Updates" target="_blank">Development team Updates</a>
                </div>
            </div>
        </div>

        <div id="announcements" class="g-cards section">
            <div class="header expander">Calendar<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">

                <div class="subHeader">Ongoing</div>
                        <div class="title" style="margin-top:1.7rem;">Casper Standup</div>
                        <div class="body">Takes place every Monday at 14:00 UTC.</div>
                        <a href="https://www.youtube.com/channel/UCi8byRkpJBbGgDot2pWXLHA/videos" target="_blank">Youtube Live Stream</a>
                    </div>
                    <div>
                        <div class="title" style="margin-top:1.7rem;">RChain collaborative learning group</div>
                        <div class="body">Online sessions probing deeper into the foundations of RChain.</div>
                        <a href="https://github.com/RChain-Collaborative-Learning" target="_blank">Group Page</a>
                    </div>
                    <div>
                        <div class="title" style="margin-top:1.7rem;">RChain community RNode testing</div>
                        <div class="body">This takes place every Tuesday at 14:00 UTC.</div>
                        <a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/488505579/RChain+community+RNode+testing" target="_blank">Learn More</a>
                    </div>
                    <div class="title" style="margin-top:1.7rem;">Weekly RChain debrief</div>
                    <div class="body">Takes place every Wednesday at 18:00 UTC.</div>
                    <a href="https://www.youtube.com/channel/UCSS3jCffMiz574_q64Ukj_w" target="_blank">Live Stream</a>
                </div>

                <div class="subHeader">Past</div>
                <div class="item">
                    <div class="title">RCon3</div>
                    <div class="body"><span class="italic">September 5-6, 2018 in Berlin</span>.</div>
                    <div class="body">An RChain conference for network validators, dApp developers, investors, and researchers.</div>
                    <a href="conference">Conference Page</a>
                </div>
                <div class="item">
                    <div class="title">RChain Developer Conference</div>
                    <div class="body"><span class="italic">April 17-18, 2018 in Boulder, CO</span>.</div>
                    <a href="/assets/public-section-agenda.pdf" target="_blank">Program and agenda</a>
                    <a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/388137038/RChain+developer+conference+-+April+2018" target="_blank">Presentations</a>
                </div>
            </div>
        </div>

        <div id="involved" class="g-cards section">
            <div class="header expander">Get Involved<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">
                <div class="item">
                    <a href="https://rchain.atlassian.net/secure/CreateIssueDetails!init.jspa?pid=10106&issuetype=10103&versions=10011&assignee=medha&summary=issue+created%20via+link" target="_blank">Report a bug</a>
                    <a href="https://www.rchain.coop/community" target="_blank">Join the Co-op</a>
                    <a href="https://blog.rchain.coop" target="_blank">Blog</a>
                </div>
            </div>
        </div>
    </div>

</div>
