<div class="main">

    <div id="programSection" class="section">
        
        
        
        <div class="desktop">
            <table>
                <tr>
                    <th></th>
                    <th class="header">Session</th>
                    <th class="header">Duration in Minutes</th>
                    <th class="header" style="width:20%">RChain blockchain and platform</th>
                    <th class="header" style="width:20%">dApp development<br> on the RChain platform</th>
                    <th class="header" style="width:20%">Blockchain technology and business</th>
                    <th class="header" style="width:20%">Academic</th>
                    <th class="header">Hackerspace</th>
                </tr>

                <tr>
                    <th rowspan="12">Day 1</th>
                    <td class="bold">Welcome</td>
                    <td class="bold">0:10:00</td>
                    <td>
                        <p class="title bold">Welcome</p>
                        <p class="description italic">Greg Meredith</p>
                    </td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td class="bold">1</td>
                    <td>0:30:00</td>
                    <td>
                        <p class="title bold">Launch of RChain Europe</p>
                        <p class="description italic">Greg Meredith and Ela (last name?)</p>
                    </td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td class="bold">2</td>
                    <td>0:30:00</td>
                    <td>
                        <p class="title bold">State of the RChain Platform</p>
                        <p class="description italic">Nash Foster and Mike Stay</p>
                    </td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td class="bold">3</td>
                    <td>1:00:00</td>
                    <td>
                        <p class="title bold">Launch of the RChain testnet</p>
                        <p class="title bold">Rhoc/Rev swap: how it works and what you need to do</p>
                        <p class="description italic">Nash Foster, Mike Stay, and Michael Birch</p>
                    </td>
                    <td></td>
                    <td>
                        <p class="title bold">US and EU regulatory updates</p>
                        <p class="description italic">(speaker needed)</p>
                    </td>
                    <td colspan="2">
                        <p class="title bold">RChain research group</p>
                        <p class="description italic">(speaker needed)</p>
                    </td>
                </tr>

                <tr>
                    <td class="bold">Break</td>
                    <td>0:10:00</td>
                    <td colspan="5"></td>
                </tr>

                <tr>
                    <td class="bold">4</td>
                    <td>1:00:00</td>
                    <td>
                        <p class="title bold">Consensus on the RChain platform</p>
                        <p class="description italic">Michael Birch and Mike Stay</p>
                    </td>
                    <td></td>
                    <td>
                        <p class="title bold">Pithia (30 minutes)</p>
                        <p class="description italic">Lawrence Lerner</p>
                        <p class="title bold">Trusted key solutions (30 minutes)</p>
                        <p class="description italic">(speaker TBD)</p>
                    </td>
                    <td>
                        <p class="title bold">Security analysis of the Pi calculus</p>
                        <p class="description italic">Luke Ong</p>
                    </td>
                    <td>
                        <p class="description">Rholang team available</p>
                    </td>
                </tr>

                <tr>
                    <td class="bold">Break</td>
                    <td>0:10:00</td>
                    <td colspan="5"></td>
                </tr>

                <tr>
                    <td class="bold">5</td>
                    <td>1:00:00</td>
                    <td>
                        <p class="title bold">Staking in RChain: economic parameters and rewards</p>
                        <p class="description italic">(speaker needed)</p>
                    </td>
                    <td></td>
                    <td>
                        <p class="title bold">Reflective Ventures <span class="description">(30 minutes)</span></p>
                        <p class="title bold">LifeID/Resonate <span class="description">(each 15 minutes)</span></p>
                    </td>
                    <td>
                        <p class="title bold">(topic TBD)</p>
                        <p class="description italic">Greg Meredith</p>
                    </td>
                    <td>
                        <p class="description">Cryptofex team available</p>
                    </td>
                </tr>

                <tr>
                    <td class="bold">Lunch</td>
                    <td>1:00:00</td>
                    <td colspan="5"></td>
                </tr>

                <tr>
                    <td class="bold">6</td>
                    <td>1:00:00</td>
                    <td>
                        <p class="title bold">Architecture of gen 3 dApps</p>
                        <p class="description italic">Nash Foster and Justin Meiner</p>
                    </td>
                    <td>
                        <p class="title bold">RChain at Burning Man</p>
                        <p class="description italic">Greg Meredith and Kayvan Kazeminejad</p>
                    </td>
                    <td>
                        <p class="title bold">Blockchain 3.0</p>
                        <p class="description">EOS - Brenden Blumer or Daniel Larimer</p>
                        <p class="description">Cardano - TBD</p>
                        <p class="description">Tezos - Arthur or Kathleen Breitman</p>
                        <p class="description">Ethereum - Vitalik Buterin and Vlad Zamfir</p>
                        <p class="description">RChain - Greg Meredith</p>
                        <p class="description">Cosmos - Jay and Ethan</p>
                        <p class="description">Polkadot/Web3 foundation - (Peter Czaban)</p>
                        <p class="description">Facilitator - TBD</p>
                    </td>
                    <td>
                        <p class="title bold">Quantum consensus</p>
                        <p class="description italic">Bob Coecke</p>
                    </td>
                    <td class="description">Scala team available</td>
                </tr>

                <tr>
                    <td class="bold">Break</td>
                    <td>0:10:00</td>
                    <td colspan="5"></td>
                </tr>

                <tr style="border-bottom:5px solid black">
                    <td class="bold">7</td>
                    <td>1:00:00</td>
                    <td class="description">How to capitalize the network - how do you find a node operator, return expectations, business risks</td>
                    <td class="description">Music session #1 (need details from Greg)</td>
                    <td>
                        <p class="title bold">Cryptofex (30 minutes)</p>
                        <p class="description italic">Alpheus Madsen and Justin Meiner</p>
                        <p class="title bold">Explore the RChain with Rho.Rocks (30 minutes)</p>
                        <p class="description italic">Roland Kofler</p>
                    </td>
                    <td>
                        <p class="description">How does RChain deal with the non-determinism inherent in Rholang in a blockchain setting?</p>
                    </td>
                    <td>
                        <p class="description">SRE/testnet team available</p>
                    </td>
                </tr>

                <tr>
                    <th rowspan="13" class="bold">Day 2</th>
                    <td class="bold">Welcome</td>
                    <td>0:10:00</td>
                    <td>
                        <p class="title bold">Welcome</p>
                        <p class="description italic">(speaker needed)</p>
                    </td>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td class="bold">1</td>
                    <td>1:00:00</td>
                    <td>
                        <p class="title bold">Compensated Open Source, A cooperative, revenue sharing, busines mode</p>
                        <p class="description italic">Katherine Snow</p>
                    </td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td class="bold">Break</td>
                    <td>0:10:00</td>
                    <td colspan="5"></td>
                </tr>

                <tr>
                    <td class="bold">2</td>
                    <td>1:00:00</td>
                    <td rowspan="3">
                        <p class="title bold">Testnet performance testing, sharding, and Q&A</p>
                        <p class="description italic">Medha Parliker and Michael Birch</p>
                    </td>
                    <td>
                        <p class="title bold">Writing efficient smart contracts</p>
                        <p class="description italic">Kyle Butt and Ovidiu Deac</p>
                    </td>
                    <td></td>
                    <td>
                        <p class="title bold">K framework and type theory</p>
                        <p class="description italic">Mike Stay and Derek Sorensen</p>
                    </td>
                    <td>
                        <p class="description">Rholang team available</p>
                    </td>
                </tr>

                <tr>
                    <td class="bold">Break</td>
                    <td>0:10:00</td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td class="bold">3</td>
                    <td>1:00:00</td>
                    <td>
                        <p class="title bold">Working with the RChain testnet</p>
                        <p class="description italic">Pyrofex core dev team: Medha Parliker, Pawel Szulc, Kyle Butt, Michael Birch, and Lukasz Golebiewoski</p>
                    </td>
                    <td>
                        <p class="title bold">Lightning talks: Share your idea in 5 minutes or less</p>
                    </td>
                    <td>
                        <p class="title bold">Rholang 300</p>
                        <p class="description italic">Mike Stay</p>
                    </td>
                    <td class="description">SRE/testnet team available</td>
                </tr>

                <tr>
                    <td class="bold">Break</td>
                    <td>0:10:00</td>
                    <td colspan="5"></td>
                </tr>

                <tr>
                    <td class="bold">4</td>
                    <td>1:00:00</td>
                    <td class="description">Infrastructure for node operators - monitoring and managment of RNodes in your production environment - Jeremy (?)</td>
                    <td class="description">Infrastructure for dapps - why namesspaces are built the way they are and how that impacts deployment of applications and how they can scale (how do you go from google '93 to goole '99) - Nash Foster</td>
                    <td>
                        <p class="title bold">The zoo of decentralized governance</p>
                        <p class="description italic">Alex Stokes</p>
                    </td>
                    <td>
                        <p class="title bold">Casper</p>
                        <p class="description italic">Vlad Zamfir</p>
                    </td>
                    <td class="description">Scala team available</td>
                </tr>

                <tr>
                    <td class="bold">Lunch</td>
                    <td>1:00:00</td>
                    <td colspan="5"></td>
                </tr>

                <tr>
                    <td class="bold">5</td>
                    <td>1:00:00</td>
                    <td>
                        <p class="title bold">Functional data structures in the RChain software</p>
                        <p class="description italic">Pawel Szulc, Dom and Lukasz</p>
                    </td>
                    <td>
                        <p class="title bold">Getting started with hybrid development on the RChain platform</p>
                        <p class="description">How do I build and deploy node in my existing environment? How do I build a gateway to service my hybrid dApp? How do I write an efficient smart contract?</p>
                    </td>
                    <td>
                        <p class="title bold">Lightning talks: Share your idea in 5 minutes or less</p>
                    </td>
                    <td></td>
                    <td>
                        <p class="description">Consensus team available</p>
                    </td>
                </tr>

                <tr>
                    <td class="bold">Break</td>
                    <td>0:10:00</td>
                    <td colspan="5"></td>
                </tr>

                <tr>
                    <td class="bold">6</td>
                    <td>1:00:00</td>
                    <td>
                        <p class="title bold">Keynote</p>
                        <p class="description italic">(speaker needed, Nathan Schneider?)</p>
                    </td>
                    <td colspan="4"></td>
                </tr>

                <tr>
                    <td class="bold">Closing</td>
                    <td>0:10:00</td>
                    <td>
                        <p class="title bold">Closing</p>
                        <p class="description italic">Greg Meredith</p>
                    </td>
                    <td colspan="4"></td>
                </tr>

            </table>
        </div>
        
        <div id="mobile">
            <ul></ul>
        </div>

        <table id="mobile"></table>

    </div>

</div>
