<div class="main">

    <div id="start" class="section single">
        <div class="header expander">8:00AM<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="subHeader">ROOM 1: RChain blockchain and platform</div>
                <div class="title">Welcome</div>
                <p class="description italic">Greg Meredith</p>
            </div>
        </div>
    </div>

    <div id="start" class="section single">
        <div class="header expander">9:00AM<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="subHeader">ROOM 1: RChain blockchain and platform</div>
                <div class="title">Launch of RChain Europe</div>
                <p class="description italic">Greg Meredith and Ela (last name?)</p>
            </div>
        </div>
    </div>

    <div id="start" class="section single">
        <div class="header expander">10:00AM<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="subHeader">ROOM 1: RChain blockchain and platform</div>
                <div class="title">State of the RChain Platform</div>
                <p class="description italic">Nash Foster and Mike Stay</p>
            </div>
        </div>
    </div>

    <div id="start" class="section">
        <div class="header expander">11:00AM<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="subHeader">ROOM 1: RChain blockchain and platform</div>
                <div class="title">Launch of the RChain testnet Rhoc/Rev swap: how it works and what you need to do</div>
                <p class="description italic">Nash Foster, Mike Stay, and Michael Birch</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 2: dApp Development on the RChain Platform</div>
                <div class="title">N/A</div>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 3: Blockchain Technology and Business</div>
                <div class="title">US and EU regulatory updates</div>
                <p class="description italic">(speaker needed)</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 4: Academic</div>
                <div class="title">RChain research group</div>
                <p class="description italic">(speaker needed)</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 5: Hackerspace</div>
                <div class="title">N/A</div>
            </div>
        </div>
    </div>

    <div id="start" class="section">
        <div class="header">1:00PM - Break</div>
    </div>

    <div id="start" class="section">
        <div class="header expander">2:00PM<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="subHeader">ROOM 1: RChain blockchain and platform</div>
                <div class="title">Consensus on the RChain platform</div>
                <p class="description italic">Michael Birch and Mike Stay</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 2: dApp Development on the RChain Platform</div>
                <div class="title">N/A</div>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 3: Blockchain Technology and Business</div>
                <div class="title">Pithia <span>(30 minutes)</span></div>
                <p class="description italic">Lawrence Lerner</p>
                <div class="title">Trusted key solutions <span>(30 minutes)</span></div>
                <p class="description italic">(speaker needed)</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 4: Academic</div>
                <div class="title">Security analysis of the Pi calculus</div>
                <p class="description italic">Luke Ong</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 5: Hackerspace</div>
                <p class="description">Rholang team available</p>
            </div>
        </div>
    </div>

    <div id="start" class="section">
        <div class="header">3:00PM - Break</div>
    </div>
    
    <div id="start" class="section">
        <div class="header expander">3:00PM<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="subHeader">ROOM 1: RChain blockchain and platform</div>
                <div class="title">Staking in RChain: economic parameters and rewards</div>
                <p class="description italic">(speaker needed)</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 2: dApp Development on the RChain Platform</div>
                <div class="title">N/A</div>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 3: Blockchain Technology and Business</div>
                <div class="title">Reflective Ventures <span>(30 minutes)</span></div>
                <p class="description italic">(speaker needed)</p>
                <p class="description italic"></p>
                <div class="title">LifeID/Resonate  <span>(30 minutes)</span></div>
                <p class="description italic">(speaker needed)</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 4: Academic</div>
                <div class="title">(topic TBD)</div>
                <p class="description italic">Greg Meredith</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 5: Hackerspace</div>
                <p class="description">Cryptofex team available</p>
            </div>
        </div>
    </div>
    
    <div id="start" class="section">
        <div class="header">4:00PM - Lunch</div>
    </div>
    
    <div id="start" class="section">
        <div class="header expander">4:00PM<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="subHeader">ROOM 1: RChain blockchain and platform</div>
                <div class="title">Architecture of gen 3 dApps</div>
                <p class="description italic">Nash Foster and Justin Meiner</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 2: dApp Development on the RChain Platform</div>
                <div class="title">RChain at Burning Man</div>
                <p class="description italic">Greg Meredith and Kayvan Kazeminejad</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 3: Blockchain Technology and Business</div>
                <div class="title">Blockchain 3.0</div>
                <p class="description italic">(speaker needed)</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 4: Academic</div>
                <div class="title">(topic TBD)</div>
                <p class="description italic">Greg Meredith</p>
            </div>
            <div class="item">
                <div class="subHeader">ROOM 5: Hackerspace</div>
                <p class="description">Cryptofex team available</p>
            </div>
        </div>
    </div>



</div>
