<div class="masthead1">
    <img src="assets/berlin.jpg" alt="RCon3 scholarship">
</div>

<div id="scrollWrapper">
    <div id="logoWrapper">
        <img src="assets/logo-cropped.png" alt="RChain">
        <div class="textWrapper">
            <h1>RCON3</h1>
            <h3>Scholarships</h3>
        </div>
    </div>cd

</div>

<div class="main">

    <div id="introSection" class="section">
        <div class="header">Introduction</div>
        <div class="bodyText">The RChain Cooperative offers scholarships to members who might not otherwise be able to attend RCon3. Scholarship awards are based on the appropriateness of the opportunity afforded by the conference related to the applicant's professional background, primary interest in attending the conference, proposed outcome of attending, and financial need.</div>
        <div class="bodyText">Please complete the following application to be considered for scholarship funding to attend RCon3, RChain's conference for developers, to be held Sept. 5 and 6, 2018 in Berlin.</div>
        <div class="bodyText">The deadline for scholarship application submissions was July 20, 2018. People who submitted applications and met the eligibility requirements each received 100% funding (registration, travel, and lodging) to attend RCon3. After making these awards, there was still money available in the scholarship fund. <b>The RChain scholarship committee is pleased to announce another opportunity for people to submit applications for scholarships!</b></div>
        <div class="bodyText">Round two of the scholarship application period runs July 20 - Aug. 6, 2018. Scholarship award amounts may be different than awards previously distributed depending on the number of applications received and money available in the scholarship fund.</div>
        <div class="bodyText"><b>The deadline for submissions for round two is Aug. 6, 2018</b></div>
    </div>

    <div id="faqSection" class="section">
        <div class="header">Scholarship FAQ</div>
        
        <div class="bodyText"><b>Why did the application deadline change?</b></div>
        <div class="bodyText">The first application deadline was July 20, 2018. At that time all eligible applicants received 100% funding (registration, travel, and lodging) to attend RCon3. After making these awards, there was still money available in the scholarship fund. The RChain scholarship committee recommended offering a second opportunity for people to submit applications to assure as much of the scholarship fund as possible will be used.</div>
        
        <div class="bodyText"><b>Will all eligible applicants receive 100% funding during round two?</b></div>
        <div class="bodyText">Not necessarily. Round one applicants did because of the number of applications received by the deadline and the value of the scholarship fund. The amount of individual rewards for eligible applicants in round two may vary, and depending on the number of eligible applications received not all applicants may receive scholarships. Please see "What is the process for awarding scholarship funds?" below for more details.</div>
        
        <div class="bodyText"><b>Who sponsors this scholarship?</b></div>
        <div class="bodyText">This scholarship is available from the RChain Cooperative. Funding was approved by the RChain Cooperative board in May 2018.</div>

        <div class="bodyText"><b>Who is eligible to receive a scholarship?</b></div>
        <div class="bodyText">Scholarships will only be awarded to members of the RChain Cooperative. You must be a member at the time of the scholarship admission deadline to be considered.</div>

        <div class="bodyText"><b>How is a scholarship award distributed?</b></div>
        <div class="bodyText">Scholarships will be awarded as stipends. Stipends are available for costs related to travel and lodging only. To receive the stipend, scholarship recipients will pay costs up-front and then submit receipts and a reimbursement form.</div>

        <div class="bodyText"><b>What is the process for awarding scholarship funds?</b></div>
        <div class="bodyText">A committee made up of five RChain cooperative members will review applications and recommend scholarship awards based on content provided in the application. The distribution of scholarship awards is at the discretion of the committee and the RChain Cooperative board based on the following criteria:
            <ul>
                <li>Applicant is a member of the RChain Cooperative</li>
                <li>Appropriateness of the opportunity of the conference related to the applicant's:
                    <ul>
                        <li>Professional background</li>
                        <li>Primary interest in attending the conference</li>
                        <li>Proposed outcome of attending the conference</li>
                        <li>Financial need</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="bodyText"><b>How will information provided in the scholarship application be used?</b></div>
        <div class="bodyText">All information collected will be used by RChain cooperative staff, board, and members of the RCon3 scholarship committee to evaluate applications, contact applicants for award notification, and to distribute scholarship funds.</div>

        <div class="bodyText"><b>When will applicants be notified?</b></div>
        <div class="bodyText">All applicants will be notified by August 1, 2018.</div>

        <div class="bodyText"><b>What if I receive a scholarship and am not able to attend the conference?</b></div>
        <div class="bodyText">Please let us know at events@Pyrofex.net as soon as your plans change. Doing so may allow us to offer the scholarship to someone else.</div>
    </div>

    <div id="applicationSection" class="section">
        <div class="header">Scholarship Application</div>

        <div>
            <div id="submitSuccess"></div>
            <div id="submitFail">
                <div class="errors">The following fields did not contain valid information: </div>
            </div>
        </div>

        <form id="scholarshipForm">
            <div class="title"><b>Contact Information</b></div>
            <div>* Required</div>
            <div class="formSection">
                <div class="inputWrapper">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" class="text" id="firstName" required><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" class="text" id="lastName" required><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="email">Email</label>
                    <input type="text" placeholder="example@address.com" name="email" class="text" id="email" required><span class="required">*</span>
                </div>
            </div>
            <div class="formSection">
                <div class="inputWrapper">
                    <label for="streetAddress1">Street Address</label>
                    <input type="text" placeholder="Street Address Line 1" name="streetAddress1" class="text" id="streetAddress1"><span class="required">*</span><br>
                    <input type="text" placeholder="Street Address Line 2" name="streetAddress2" class="text"><br>
                    <input type="text" placeholder="Street Address Line 3" name="streetAddress3" class="text"><br>
                </div><br>
                <div class="inputWrapper">
                    <label for="city">City</label>
                    <input type="text" name="city" class="text" id="city"><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="city">State/Province/Territory</label>
                    <input type="text" placeholder="Required where applicable" name="region" class="text">
                </div>
                <div class="inputWrapper">
                    <label for="postal">Postal/Zip Code</label>
                    <input type="text" name="postal" class="text" id="postal"><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="country">Country</label>
                    <input type="text" name="country" class="text" id="country"><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="phone">Phone Number (with country code)</label>
                    <input type="text" name="phone" class="text" id="phone"><span class="required">*</span>
                </div>
            </div>

            <div class="title"><b>Questions</b></div>
            <div class="formSection">
                <div class="question">Are you an RChain member?</div>
                <input type="radio" name="member" value="yes" checked><span>Yes</span>
                <input type="radio" name="member" value="no"><span>No</span>
            </div>
            <div class="formSection">
                <div class="question">Describe your primary interest in attending RCon3 (select one).</div>
                <input type="radio" name="interest" value="I want to be a node operator or validator" checked><span>I want to be a node operator or validator.</span><br>
                <input type="radio" name="interest" value="I want to develop dApps on the RChain platform"><span>I want to develop dApps on the RChain platform.</span><br>
                <input type="radio" name="interest" value="I am looking for investment for my project that can use the RChain platform"><span>I am looking for investment for my project that can use the RChain platform.</span><br>
                <input type="radio" name="interest" value="I am a researcher in the field"><span>I am a researcher in the field.</span><br>
                <input type="radio" name="interest" value="I am interested in learning more about blockchain solutions for my organization."><span>I am interested in learning more about blockchain solutions for my organization.</span><br>
                <input type="radio" name="interest" value="I don't know much about RChain, and I'd like the opportunity to learn more by attending RCon3"><span>I don't know much about RChain, and I'd like the opportunity to learn more by attending RCon3.</span><br>
                <input type="radio" name="interest" value="Other"><span>Other</span><input type="text" name="interest" class="text" id="other"><br>
            </div>
            <div class="formSection">
                <div class="question">What do you hope to gain by attending RCon3?</div>
                <textarea rows="6" cols="70" placeholder="(2000 characters max)" name="Hope_to_Gain"></textarea><span class="required textarea">*</span>
            </div>
            <div class="formSection">
                <div class="question">What do you hope to contribute to the RChain community by attending RCon3? </div>
                <textarea rows="6" cols="70" placeholder="(2000 characters max)" name="Hope_to_Contribute"></textarea><span class="required textarea">*</span>
            </div>
            <div class="formSection">
                <div class="question">Estimating your cost for travel, lodging, and event registration, are you able to pay these costs up front and receive reimbursement at the end of the conference?</div>
                <input type="radio" name="reimbursment" value="yes" checked><span>Yes</span>
                <input type="radio" name="reimbursment" value="no"><span>No</span>
            </div>
            <div class="formSection">
                <div class="inputWrapper">
                    <div class="question">Estimating your cost for travel, lodging, and event registration, what percentage of this cost can you contribute?</div>
                    <input type="text" placeholder="X%" name="contribute" class="text"><span class="required">*</span>
                </div>
            </div>

            <div class="title">Professional Background</div>
            <div class="formSection">
                <div class="question">Will you be 18 years old or older by Sept. 5, 2018?</div>
                <input type="radio" name="age" value="yes" checked><span>Yes</span>
                <input type="radio" name="age" value="no"><span>No</span>
            </div>
            <div class="formSection">
                <div class="question">Please briefly describe your educational and professional background.</div>
                <textarea rows="6" cols="70" placeholder="(2000 characters max)" name="background"></textarea><span class="required textarea">*</span>
            </div>
            <button id="scholarshipSubmit">Submit</button>
        </form>

    </div>

</div>
