<div class="masthead">
    <div id="logoWrapper">
        <img src="/assets/rchain-redwhite-logo.png" alt="rchain">
    </div>
</div>

<div class="bodyText intro">
    <div class="pageTitle">REV issuance for RHOC holders</div>
    <div>In 2017, the RChain Cooperative created RHOC tokens and sponsored a private sale. At the launch of main net, planned for Q3 of 2019, there will be an issuance of REV at a 1:1 ratio based on a holder’s RHOC balance. REV will be the currency of the RChain blockchain. Among other things, REV will allow you to bond a validator’s stake, pay transaction fees, and deploy smart contracts on the new RChain blockchain. If you’re interested in building your own RChain-based dApp, you will need to acquire REV in order to do so.
 </div>
</div>

<div class="main">

  <div id="faq" class="g-cards section">
        <div class="header expander">FAQ<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="title">What is this page for?</div>
                <div class="body">In 2017 the RChain Cooperative created RHOC tokens and sponsored a private sale. All RHOC tokens will convert at 1:1 ratio to REV tokens at the launch of the RChain main net (Mercury).</div>
                <div class="title">I have RHOC. What do I need to do to receive my REV?</div>
                <div class="body">You <u>must</u> ensure your RHOC are in an Ethereum account where you control the private keys. We recommend you do this by Dec. 31, 2018.</div>
                <div class="body">We also recommend that you:</div>
                <ul>
                    <li class="body"><b>Subscribe to this page</b> to receive updates about the timing of launch of the RChain blockchain and when to look for your balance of REV.</li>
                    <li class="body"><b>Bookmark this page</b> to minimize your risk of phishing or other attacks.</li>
                    <li class="body">DO NOT accept information about your participation in the REV issuance at network launch from anyone else.</li>
                    <li class="body">DO NOT share private keys.</li>
                    <li class="body">DO NOT send RHOC to a third party address you don’t control. <b>You do not need to send your RHOC to a third party to receive REV.  Neither the RChain Cooperative nor the dev team will ever ask you to send them RHOC in order to receive REV.</b></li>
                </ul>
                <div class="title">What is a RHOC?</div>
                <div class="body">The RHOC is an ERC20 style token created on Ethereum by the RChain cooperative. The contract address is 0x168296bb09e24a88805cb9c33356536b980d3fc5.</div>
                <div class="title">What is a REV?</div>
                <div class="body">REV is the primary cryptocurrency of the RChain blockchain and is used to bond stake RChain’s CBC Casper proof-of-stake consensus system.</div>
                <div class="title">What can I do with REV? </div>
                <div class="body">REV is required to bond a validator’s stake, pay transaction fees, and deploy smart contracts on the new blockchain. If you’re interested in building your own RChain-based dApp, you will need to acquire REV in order to do so.</div>
                <div class="title">How do I acquire REV?</div>
                <div class="body">At the launch of the RChain main net, the genesis block will issue REV at a 1:1 ratio based on RHOC balances shown on Ethereum. For example, if you hold 100 RHOC at the time of the main net launch, your wallet will contain 100 REV after the launch. After launch, you can acquire REV through trading, exchanges, or as rewards for being a validator.</div>
                <div class="title">When is the REV issuance?</div>
                <div class="body">Main net will launch in Q3 2019. REV will be issued at that time on the new network.</div>
                <div class="title">What does REV issuance mean?</div>
                <div class="body">Technically, the event is simply an issuance of the REV utility token, determined by the wallet balances of existing RHOC holders. There is no actual swap. The RHOC will continue to exist on the Ethereum blockchain, even though it is worthless. <b><i>And you will never need to give your RHOC to anyone to receive your REV.</i></b> We designed this process to minimize the risk of phishing. So, if anyone asks you to “send your RHOC” to them, you are being phished.</div>
                <div class="title">How will you determine RHOC balances for the purpose of issuing REV?</div>
                <div class="body">The RChain core development team in collaboration with members of the RChain community created a script to collect RHOC balances given a specified ETH block hash. This script is available at <a href="https://github.com/rchain/rchain/tree/dev/scripts/pull-rhoc-balances" target="_blank" class="inline-link">https://github.com/rchain/rchain/tree/dev/scripts/pull-rhoc-balances</a>.</div>
                <div class="title">What does RHOC/REV swap mean?</div>
                <div class="body">We no longer use this term in favor of REV issuance that more accurately describes the process. The term “token swap” was introduced before a process had been established and it stuck within the community. </div>
                <div class="title">When are RHOC balances finalized or "frozen?"</div>
                <div class="body">Prior to network launch, we will announce on this page an Ethereum block height at which RHOC balances will be considered final. Any Ethereum address that holds RHOC at this time will be credited an equal amount of REV on the RChain network. This works because RChain’s keys are compatible with Ethereum’s keys. For example, an Ethereum account’s keys can be used as the keys for an RChain account, as well.</div>
                <div class="title">My RHOC is stored in a multi-signature wallet, is this supported at the launch?</div>
                <div class="body">No. Multi-signature wallets are not supported. The issuance of REV requires you to control your Ethereum private keys to receive your REV. To receive REV for RHOC you must have your RHOC in an Ethereum account where you control the private keys before the finalization of RHOC balances just prior to the launch of the RChain blockchain. We recommend you do this by Dec. 31, 2018.</div>
                <div class="title">My RHOC is stored in an exchange, is this supported at the launch?</div>
                <div class="body">Maybe. However neither the RChain Cooperative nor the development team can make that guarantee. The RChain Cooperative will contact exchanges listing RHOC to request they halt trade at the correct time and and credit users with REV once the network launches. If you want to assure a successful receipt of REV for RHOC, we strongly recommend moving your RHOC out of an exchange and into an Ethereum account where you control the private keys.</div>
                <div class="title">My RHOC is stored in a hardware wallet, is this supported at launch?</div>
                <div class="body">This is TBD. The RChain development team is working on testing this scenario.</div>
                <div class="title">I have questions that are not answered here.</div>
                <div class="body">You can create a service ticket at <a href="https://rchain.atlassian.net/servicedesk" target="_blank" class="inline-link"> https://rchain.atlassian.net/servicedesk</a> to get support. You must create an account or use an existing Confluence account for this service.</div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper">

        <div id="milestones" class="g-cards section">
            <div class="header expander">Key Milestones<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">
                <div class="item">
                    <ul>
                        <li class="body">September 2018 - Demonstration of the proposed REV issuance process to coincide with the launch of the RChain test net</li>
                        <li class="body">February 2019 - Demonstration of the the proposed REV issuance process to coincide with the update of the RChain test net following the release of RNode v0.9</li>
                        <li class="body">Q3 2019 - Official REV issuance to coincide with the launch of the RChain main net</li>
                    </ul>
                </div>
            </div>
        </div>
    
        
        <div id="translations" class="g-cards section">
            <div class="header expander">Translations<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">
                <div class="item">
                    <div class="body">We are working to translate content on this page in Russian, simplified Chinese, and Spanish.</div>
                </div>
            </div>
        </div>
        
        <div id="changeLog" class="g-cards section">
            <div class="header expander">Change Log<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">
                <div class="item">
                    <ul class="body">
                        <li>2018-12-19 Key milestones and introduction updated</li>
                        <li>2018-10-15 FAQ updated</li>
                        <li>2018-10-11 Key milestones updated</li>
                        <li>2018-09-24 FAQ updated</li>
                        <li>2018-09-21 FAQ updated</li>
                        <li>2018-09-12 Mercury release date updated in intro</li>
                        <li>2018-08-21 FAQ Updated</li>
                        <li>2018-07-26 Chinese translation added</li>
                        <li>2018-07-26 Spanish translation added</li>
                        <li>2018-07-17 Russian translation added</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="contact" class="section">
          <div class="expandable">
            <div class="item">
              <script async data-uid="f1deaab044" src="https://f.convertkit.com/f1deaab044/a2ae35f9d9.js"></script>
            </div>
          </div>
        </div>
        
        
    </div>

</div>
