<div class="masthead">
    <div id="logoWrapper">
        <img src="https://developer.rchain.coop/assets/rchain-redwhite-logo.png" alt="rchain">
    </div>
</div>

<div class="bodyText intro">
    <div class="pageTitle">REV issuance for RHOC holders</div>
    <div>In 2017, the RChain Cooperative created RHOC tokens and sponsored a private sale. At the launch of main net, February 25, 2020, there was an issuance of REV at a 1:1 ratio based on a holder’s RHOC balance. REV is the currency of the RChain blockchain. Among other things, REV will allow you to bond a validator’s stake, pay transaction fees, and deploy smart contracts on the new RChain blockchain. If you’re interested in building your own RChain-based dApp, you will need to acquire REV in order to do so.
 </div>
</div>

<div class="main">

  <div id="faq" class="g-cards section">
        <div class="header expander">FAQ<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="title">RHOC Verus REV</div>
                <div class="body">
                    <p>In 2017 the RChain Cooperative created RHOC tokens and sponsored a private sale. All RHOC tokens were converted at 1:1 ratio to REV tokens at the launch of the RChain main net (Mercury) on 25 Feb 2020 at block height <span style="color: #ff0000;"><strong>9371743</strong></span> on the Etherium Blockchain.</p>
                </div>
                <div class="title">What is a RHOC?</div>
                <div class="body">
                    <p>The RHOC was an ERC20 token created on Ethereum by the RChain cooperative. The contract address is 0x168296bb09e24a88805cb9c33356536b980d3fc5.</p>
                    </div>
                <div class="title">What is a REV?</div>
                    <div class="body">
                        <p>REV is the primary cryptocurrency of the RChain blockchain and is used to bond stake RChain’s CBC Casper proof-of-stake consensus system.</p>
                    </div>
                <div class="title">When was the REV issuance?</div>
                <div class="body">
                    <p>
                    RChain Main net launched on February 25, 2020. REV was issued at that time on the new network.
                    </p>
                </div>
                <div class="title">What does REV issuance mean?</div>
                <div class="body">
                    <p>Technically, the event was simply an issuance of the REV utility token, determined by the wallet balances of existing RHOC holders. There is no actual swap. The RHOC will continue to exist on the Ethereum blockchain, even though it is worthless. <b><i>And you will never need to give your RHOC to anyone to receive your REV.</i></b> We designed this process to minimize the risk of phishing. So, if anyone asks you to “send your RHOC” to them, you are being phished.</p>
                </div>
                <div class="title">I have RHOC. What do I need to do to receive my REV?</div>
                <div class="body"> 
                    <p>If your RHOC is in an etherium account you control, i.e:</p>
                    <ul>
                        <li class="body"> You control your private key</li>
                        <li class="body"> Your RHOC was not in a multisig wallet or smart contract.</li>
                    </ul>
                    <p>If both the above are the case then do the following.</</p>
                </div>
                <div class="title">How can I see my REV balance?</div>
                <div class="body">
                    <p>There will be a few methods.' Here are two:</p>
                </div>
                    <ul>
                        <li class ="body">View with <a class="inline-link" target="_blank" href="https://revdefine.io/#/explorer/rev">Revdefine</a> block explorer</li>
                        <li class ="body">View with <a class="inline-link" target="_blank" href="https://myrchainwallet.com">MyRchainWallet</a></li>
                    </ul>
                </ul>

                <div class="title">What can I do with REV? </div>
                <div class="body">
                    <p>
                    REV is required to bond a validator’s stake, pay transaction fees, and deploy smart contracts on the new blockchain. If you’re interested in building your own RChain-based dApp, you will need to acquire REV in order to do so.
                    </p>
                </div>
                <div class="title">How do I acquire REV?</div>
                <div class="body">
                    <p>At the launch of the RChain main net, the genesis block issued REV at a 1:1 ratio based on RHOC balances shown on Ethereum. For example, if you hold 100 RHOC at the time of the main net launch, your wallet will contain 100 REV after the launch. After launch, you can acquire REV through trading, exchanges (e.g. MXC), or as rewards for being a validator.</p>
                </div>
                <div class="title">How will you determine RHOC balances for the purpose of issuing REV?</div>
                <div class="body">
                    <p>The RChain core development team in collaboration with members of the RChain community created a script to collect RHOC balances given a specified ETH block hash. This script is available at <a href="https://github.com/rchain/rhoc-balance-reporter" target="_blank" class="inline-link">https://github.com/rchain/rhoc-balance-reporter</a>. At Ethereum block <span style="color: #ff0000;"><strong>9371743</strong></span>, the Co-op has published the <a class="inline-link" target="_blank" href="https://github.com/rchain/rbalance/tree/master/src/main/resources" >snapshot</a> collected by the script and make it available for public review.</p>
                </div>
                <div class="title">What does RHOC/REV swap mean?</div>
                <div class="body">
                    <p>We no longer use this term in favor of REV issuance that more accurately describes the process. The term “token swap” was introduced before a process had been established and it stuck within the community.</p>
                </div>
                <div class="title">My RHOC is stored in a multi-signature wallet, is this supported at the launch?</div>
                <div class="body">
                    <p>No. Multi-signature wallets are not supported. The issuance of REV requires you to control your Ethereum private keys to have received your REV. To receive REV for RHOC you must have had your RHOC in an Ethereum account where you control the private keys before the finalization of RHOC balances, which occured on Jan 28, 2020, just prior to the launch of the RChain blockchain on Feb 25, 2020.</p>
                </div>
                <div class="title">My RHOC was stored in an exchange, is this supported at the launch?</div>
                <div class="body">
                    <p>If the exchange was Kucoin and you didn't withdraw your RHOC prior to May 8 2020 Kucoin will have seized your REV.</p>
                    <p><a href="https://www.kucoin.com/news/en-kucoin-delisting-of-rhoc-project" target="_blank" class="inline-link">https://www.kucoin.com/news/en-kucoin-delisting-of-rhoc-project</a></p>
                </div>
                <div class="title">My RHOC was stored in a hardware wallet, is this supported at launch?</div>
                 <div class="body">
                    <p>As long as you control the private key, this conforms to the criteria mentioned above.</p>
                 </div>
                <div class="title">I have questions that are not answered here.</div>
                <div class="body">
                    <p>Community support is available in the <a href="https://discordapp.com/channels/375365542359465989/454113117257859073" target="_blank" class="inline-link"> #rhoc2rev</a> channel on the Co-op's Discord Guild. (Invitation Link <a href="https://discord.gg/NWkQnfH" target="_blank" class="inline-link"> https://discord.gg/NWkQnfH</a>)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper">

        <div id="milestones" class="g-cards section">
            <div class="header expander">Key Milestones<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">
                <div class="item">
                    <ul>
                        <li class="body">September 2018 - Demonstration of the proposed REV issuance process to coincide with the launch of the RChain test net</li>
                        <li class="body">February 2019 - Demonstration of the the proposed REV issuance process to coincide with the update of the RChain test net following the release of RNode v0.9</li>
                        <li class="body">January 28, 2020 -  snapshot of the RHOC balances on the Ethereum chain at block height <span style="color: #ff0000;"><strong>9371743</strong></span></li>
                        <li class="body">February 25, 2020 - Official REV issuance to coincide with the launch of the RChain main net</li>
                    </ul>
                </div>
            </div>
        </div>


        <div id="changeLog" class="g-cards section">
            <div class="header expander">Change Log<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">
                <div class="item">
                    <ul class="body">
                        <li>2018-12-19 Key milestones and introduction updated</li>
                        <li>2018-10-15 FAQ updated</li>
                        <li>2018-10-11 Key milestones updated</li>
                        <li>2018-09-24 FAQ updated</li>
                        <li>2018-09-21 FAQ updated</li>
                        <li>2018-09-12 Mercury release date updated in intro</li>
                        <li>2018-08-21 FAQ Updated</li>
                        <li>2020-01-24 FAQ Updated</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="contact" class="section">
          <div class="expandable">
            <div class="item">
              <script async data-uid="f1deaab044" src="https://f.convertkit.com/f1deaab044/a2ae35f9d9.js"></script>
            </div>
          </div>
        </div>

    </div>

</div>
