<div class="masthead">
    <div id="logoWrapper">
        <img src="/assets/rchain-redwhite-logo.png" alt="rchain">
    </div>
</div>

<div class="bodyText intro">
    <div class="pageTitle">REV issuance for RHOC holders</div>
    <div>In 2017, the RChain Cooperative created RHOC tokens and sponsored a private sale. At the launch of main-net, February 25, 2020, there was an issuance of REV at a 1:1 ratio based on a holder’s RHOC balance. REV is the utility token of the RChain blockchain. Among other things, REV will allow you to bond a validator’s stake, pay transaction fees, and deploy smart contracts on the new RChain blockchain. If you’re interested in building your own RChain-based dApp, you will need to acquire REV in order to do so.
 </div>
</div>

<div class="main">

  <div id="faq" class="g-cards section">
        <div class="header expander">FAQ<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
        <div class="expandable">
            <div class="item">
                <div class="title">What is RHOC?</div>
                <div class="body">RHOC is an ERC20 token created on the Ethereum blockchain by the RChain Cooperative on March 20, 2017. The contract address is 0x168296bb09e24a88805cb9c33356536b980d3fc5.</div>
                    <p>
                <div class="title">What is REV?</div>
                    <div class="body">REV is the primary utility token of the RChain blockchain. It allows you to bond a validator’s stake, pay transaction fees, and deploy smart contracts on the RChain blockchain.</div>
                    <p>
                <div class="title">When was the REV issuance?</div>
                <div class="body">The RChain Main-net launched on February 25, 2020. Upon launch, a genesis block was forged that contained all REV balances.</div>
                    <p>
                <div class="title">What does REV issuance mean?</div>
                <div class="body">Technically, the event was simply an issuance of all REV tokens, determined by the wallet balances of existing RHOC holders. There was no actual swap. The RHOC will continue to exist on the Ethereum blockchain, even though it is worthless. <b><i>And you will never need to give your RHOC to anyone to receive your REV.</i></b> We designed this process to minimize the risk of phishing. So, if anyone asks you to “send your RHOC” to them, you are being phished.</div>
                    <p>
                <div class="title">How can I check my REV balance?</div>
                <div class="body">The easiest way to check a REV balance is to use one of the wallets or websites developed by members of our community. Here is a list of tools that allow you to query REV balance by inputing either a RHOC or REV address.</div>
                <div class="body"><span style="color: #ff0000;">These resources are not officially endorsed by RChain Cooperative.</span></div>
                    <ul>
                        <li class ="body"><a class="inline-link" target="_blank" href="https://revdefine.io/#/explorer/rev">Revdefine</a> block explorer</li>
                        <li class ="body"><a class="inline-link" target="_blank" href="https://myrchainwallet.com">MyRchainWallet</a></li>
                        <li class ="body"><a class="inline-link" target="_blank" href="https://tgrospic.github.io/rnode-client-js/">rnode-client-js</a></li>
                        <li class ="body"><a class="inline-link" target="_blank" href="https://wenode.io/rui">Rui锐</a></li>
                        <li class ="body"><a class="inline-link" target="_blank" href="https://icapo.app/">Capo App</a></li>
                    </ul>
                    <p>
                <div class="title">How do I acquire REV?</div>
                <div class="body">You can acquire REV through OTC trading, exchanges (e.g. <a class="inline-link" target="_blank" href="https://mxc.com">MXC</a>, <a class="inline-link" target="_blank" href="https://www.hotbit.io/">HotBit</a>), or as rewards for being a validator.</div>
                    <p>
                <div class="title">How were RHOC balances recorded for the purpose of issuing REV?</div>
                <div class="body">The RChain core development team in collaboration with members of the RChain community created a script to collect RHOC balances given a specified ETH block hash. This script is available at <a href="https://github.com/rchain/rhoc-balance-reporter" target="_blank" class="inline-link">https://github.com/rchain/rhoc-balance-reporter</a>. At Ethereum block <span style="color: #ff0000;"><strong>9371743</strong></span>, the Co-op published the <a class="inline-link" target="_blank" href="https://github.com/rchain/rbalance/tree/master/src/main/resources" >snapshot</a> collected by the script and made it available for public review.</div>
                    <p>
                <div class="title">What does RHOC/REV swap mean?</div>
                <div class="body">We no longer use this term in favor of "REV issuance" that more accurately describes the process. The term “token swap” was introduced before a process had been established and it stuck within the community.</div>
                  <p>
                <div class="title">My RHOC was stored on an exchange on January 28, 2020 when RHOC balances were finalized.</div>
                <div class="body">Exchanges were notified in advance to freeze trading prior to the snapshot. Contact your exchange for instructions on claiming your REV. Kucoin Exchange issued this <a href="https://www.kucoin.com/news/en-kucoin-delisting-of-rhoc-project" target="_blank" class="inline-link">notice</a> to their customers holding RHOC.</div>
                  <p>
                <div class="title">My RHOC was stored in a hardware wallet, is this supported?</div>
                 <div class="body">As long as you control the private key, this conforms to the criteria mentioned above.</div>
                  <p>
                <div class="title">I have questions that are not answered here.</div>
                <div class="body">
                    <p>Community support is available in the <a href="https://discordapp.com/channels/375365542359465989/454113117257859073" target="_blank" class="inline-link"> #rhoc2rev</a> channel on the Co-op's Discord Guild. (Invitation Link <a href="https://discord.gg/NWkQnfH" target="_blank" class="inline-link"> https://discord.gg/NWkQnfH</a>)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper">

        <div id="milestones" class="g-cards section">
            <div class="header expander">Key Milestones<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">
                <div class="item">
                    <ul>
                        <li class="body">September 2018 - Demonstration of the proposed REV issuance process to coincide with the launch of the RChain test net</li>
                        <li class="body">February 2019 - Demonstration of the the proposed REV issuance process to coincide with the update of the RChain test net following the release of RNode v0.9</li>
                        <li class="body">January 28, 2020 -  snapshot of the RHOC balances on the Ethereum chain at block height <span style="color: #ff0000;"><strong>9371743</strong></span></li>
                        <li class="body">February 25, 2020 - Official REV issuance to coincide with the launch of the RChain main-net</li>
                    </ul>
                </div>
            </div>
        </div>


        <div id="changeLog" class="g-cards section">
            <div class="header expander">Change Log<span class="expandIcon">+</span><span class="collapseIcon">-</span></div>
            <div class="expandable">
                <div class="item">
                    <ul class="body">
                        <li>2018-12-19 Key milestones and introduction updated</li>
                        <li>2018-10-15 FAQ updated</li>
                        <li>2018-10-11 Key milestones updated</li>
                        <li>2018-09-24 FAQ updated</li>
                        <li>2018-09-21 FAQ updated</li>
                        <li>2018-09-12 Mercury release date updated in intro</li>
                        <li>2018-08-21 FAQ Updated</li>
                        <li>2020-01-24 FAQ Updated</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="contact" class="section">
          <div class="expandable">
            <div class="item">
              <script async data-uid="f1deaab044" src="https://f.convertkit.com/f1deaab044/a2ae35f9d9.js"></script>
            </div>
          </div>
        </div>

    </div>

</div>
