<div class="main">


    <div id="introSection" class="section">
        <div class="header">Information for RChain Validators</div>
        <p class="bodyText">Validators are the backbone of decentralized consensus in the RCHain's proof-of-stake network. Validators have the chance to earn rewards and contribute to the network's security and performance.</p>
        <p class="bodyText">As we work to the launch of the RChain blockchain in Q2 of 2019, we are also working toward answering many of the questions potential validators have. Please see the FAQ for what we know today. This page and this FAQ will be updated frequently as more information becomes available.</p>
        <p class="bodyText">If you are interested in being an RChain validator, let us know by registering below.</p>
        <a href="https://rchain.atlassian.net/wiki/spaces/CORE/pages/490373121/RChain+validator+FAQ" target="_blank">FAQ for RChain Validators</a>
    </div>
    <div id="registrationSection" class="section">
        <div class="header"><b>RChain Validator Registration</b></div>
        <p class="bodyText">If you are interested in becoming a validator on the RChain platform, please complete this registration form. By submitting this form you agree to receive notifications as new information for validators becomes available. For more detailed info see our RChain Validator FAQ.</p>
        <div>
            <div id="submitSuccess"></div>
            <div id="submitFail">
                <div class="errors">The following fields did not contain valid information: </div>
            </div>
        </div>
        <form id="validationForm">
            <div class="required">* Required</div>
            <div class="formSection">
                <div class="inputWrapper">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" class="text" id="firstName" required><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" class="text" id="lastName" required><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="email">Email</label>
                    <input type="text" placeholder="example@address.com" name="email" class="text" id="email" required><span class="required">*</span>
                </div>
            </div>
            <div class="formSection">
                <div class="inputWrapper">
                    <label for="streetAddress1">Street Address</label>
                    <input type="text" placeholder="Street Address Line 1" name="streetAddress1" class="text" id="streetAddress1"><span class="required">*</span><br>
                    <input type="text" placeholder="Street Address Line 2" name="streetAddress2" class="text"><br>
                    <input type="text" placeholder="Street Address Line 3" name="streetAddress3" class="text"><br>
                </div><br>
                <div class="inputWrapper">
                    <label for="city">City</label>
                    <input type="text" name="city" class="text" id="city"><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="city">State/Province/Territory</label>
                    <input type="text" placeholder="Required where applicable" name="region" class="text">
                </div>
                <div class="inputWrapper">
                    <label for="postal">Postal/Zip Code</label>
                    <input type="text" name="postal" class="text" id="postal"><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="country">Country</label>
                    <input type="text" name="country" class="text" id="country"><span class="required">*</span>
                </div>
                <div class="inputWrapper">
                    <label for="phone">Phone Number (with country code)</label>
                    <input type="text" name="phone" class="text" id="phone"><span class="required">*</span>
                </div>
            </div>

            <div class="title"><b>Questions</b></div>
            <div class="formSection">
                <div class="question">Do you have experience deploying in data centers?</div>
                <input type="radio" name="dataCentersExp" value="yes" checked><span>Yes</span>
                <input type="radio" name="dataCentersExp" value="no"><span>No</span>
            </div>
            <div class="formSection">
                <div class="question">Do you have systems engineering experience?</div>
                <input type="radio" name="engineeringExp" value="yes" checked><span>Yes</span>
                <input type="radio" name="engineeringExp" value="no"><span>No</span>
            </div>
            <div class="formSection">
                <div class="inputWrapper">
                    <div class="question">If yes, how many years?</div>
                    <input type="text" name="expYears" class="text">
                </div>
            </div>
            <div class="formSection">
                <div class="question">Do you have dedicated operations staff besides you?</div>
                <input type="radio" name="staff" value="yes" checked><span>Yes</span>
                <input type="radio" name="staff" value="no"><span>No</span>
            </div>
            <div class="formSection">
                <div class="question">Although staking requirements and amounts are still in development, do you think you are likely to be a high-stakes, mid-stakes, or low-stakes validator? (select one).</div>
                <input type="radio" name="stakes" value="High-stakes" checked><span>High-stakes</span><br>
                <input type="radio" name="stakes" value="Mid-stakes"><span>Mid-stakes</span><br>
                <input type="radio" name="stakes" value="Low-stakes"><span>Low-stakes</span><br>
                <input type="radio" name="stakes" value="dunno"><span>I don't know</span><br>
            </div>
            <button id="validationSubmit">Submit</button>
        </form>
    </div>

</div>
