<div class="main">


    <div id="introSection" class="section">
        <div class="header">Information for RChain Validators</div>
        <p class="bodyText">Validators are the backbone of decentralized consensus in the RCHain's proof-of-stake network. Validators have the chance to earn rewards and contribute to the network's security and performance.</p>
        <p class="bodyText">As we work to the launch of the RChain blockchain in Q2 of 2019, we are also working toward answering many of the questions potential validators have. Please see the FAQ for what we know today. This page and this FAQ will be updated frequently as more information becomes available.</p>
        <p class="bodyText">If you are interested in being an RChain validator, let us know by registering below.</p>
    </div>
    <!--[if lte IE 8]>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->
    <script async data-uid="03b3fd758e" src="https://f.convertkit.com/03b3fd758e/eb77da1a1a.js">
    </script>
</div>
