{{ define "main" }}
{{ $hash := .Site.Data.images.hash }}
<section class="w-100 pv6 relative overflow-hidden z-0 cover-bg" style='background-image: url(/images/{{ index $hash "header-bg.jpg" }})'>
  <h1 class="white relative z-1 f3 f2-m f-headline-l lh-title fw7 tc-ns ph3 center main-headline">{{ .Params.heading }}</h1>
  {{ partial "download-badges" (dict "css" "justify-center pv3 mb6" "hash" $hash) }}
</section>

<section class="flex flex-column flex-row-ns relative">
  {{ partial "svg/guillotine" (dict "css" "absolute left-0 right-0" "style" "top: -1") }}
  <div class="w-50-ns">
    <img class="rsong-UI-imogen mh0 mv3 db relative z-3 center" style="margin-top: -150px;" src='/images/{{ index $hash "Rsong-UI-ImogenHeap.png" }}' />
  </div>
  <div class="w-50-ns pt4 pt6-l pr2">
    <div class="rsong-logo-color border-box flex items-center overflow-hidden ph1">
      {{ partial "svg/rsong-logo-color" }}
    </div>
    {{ partial "download-badges" (dict "css" "pt2 mb6 flex-column flex-row-l" "hash" $hash) }}
  </div>
</section>

{{ partial "email-form" }}

<section class="ph1 pv5-ns center" style="max-width: 1200px">
  {{ range .Params.paragraphs }}
  <section class="flex flex-column flex-row-l mb6">
    <div class="feature-graphic pa4 border-box flex items-center bg-light-gray mb4 mb0-l">
      {{ $icon := .icon }}
      {{ partial $icon (dict "css" "fill-near-black") }}
    </div>
    <div class="pl5-l flex items-center mw7">
      <div>
        <div class="blue-accent-line bg-blue mb3"></div>
        <span class="f3 f2-ns lh-title fw7 pl0 dib mb2">{{ .heading }}</span><br>
        <span class="f4 pl0">{{ .paragraph }}</span>
    </div>
    </div>
  </section>
  {{ end }}
</section>

<section class="w-100 pv1 relative overflow-hidden z-0 cover-bg mb6" style='background-image: url(/images/{{ index $hash "pattern-bg.jpg" }})'>
  <section class="flex flex-column flex-row-ns items-center">
    <div class="w-50-ns">
      <img class="rsong-UI-splash mh0 mv3 db relative z-3 center" src='/images/{{ index $hash "Rsong-UI-splash.png" }}' />
    </div>
    <div class="w-50-ns z-1 ph3 ph1-m">
      <div class="flex flex-column" style="max-width: 390px">
        <div class="flex flex-row flex-column-m justify-between ph2">
          <a href="https://www.instagram.com/rchaincooperative/" target="_blank" class="icon-social--lg pv1 flex items-center db">
            {{ partial "svg/instagram-icon" (dict "css" "fill-white") }}
          </a>
          <a href="https://soundcloud.com/user-650242814-285491824" target="_blank" class="icon-social--lg pv1 border-box flex items-center db">
            {{ partial "svg/soundcloud-icon" (dict "css" "fill-white") }}
          </a>
          <a href="https://www.facebook.com/rchaincooperative/" target="_blank"  class="icon-social--lg pv1 border-box flex items-center db">
            {{ partial "svg/facebook-icon" (dict "css" "fill-white") }}
          </a>
        </div>
        <div style="max-height: 180px">
          {{ partial "download-badges" (dict "css" "pt2 mb6 flex-column-m" "hash" $hash) }}
        </div>
      </div>
    </div>
  </section>
</section>

{{ partial "email-form" }}

<section class="mw8 ph2 pt5 center">
  <span class="near-black f2 lh-title fw7 ph0 mb5 dib">Learn more</span>
  {{ range .Params.faq }}
  <section class="bl bw3 b--light-gray pl3 mb6">
     <span class="near-black f4 f3-l fw7 lh-title ph0 mb2 dib">{{ .heading }}</span><br>
     <a href="{{ .linkurl }}" target="_blank" class="near-black f4">{{ .linktext }}</a>
  </section>
  {{ end }}
</section>

{{end}}
